[2019-04-15 19:25] posix4e opened #1 "Test alpha forms"
Many of our form types, such as jest do not have proper testing. Provide a documented use of this for HCaptcha developer credit.

[2019-04-20 18:16] e271828- opened #2 "use wp_enqueue commands: plugin is using <style> and/or <link> tags to insert CSS/JS"
Should be using the built in functions for this:

https://developer.wordpress.org/reference/functions/wp_enqueue_script/
https://developer.wordpress.org/reference/functions/wp_enqueue_style/

On the admin pages it'll want to use the admin enqueues

https://developer.wordpress.org/reference/hooks/admin_enqueue_scripts/
https://developer.wordpress.org/reference/hooks/admin_print_scripts/
https://dev

[2019-04-20 18:17] e271828- opened #3 "sanitize, escape, and validate POST calls"
Examples:

$hcap_lf_status = $_POST[$hcap_lf_status_n];
update_option($hcap_lf_status_n, $hcap_lf_status);

When you include POST/GET/REQUEST/FILE calls in your plugin, it's important to sanitize, validate, and escape them. The goal here is to prevent a user from accidentally sending trash data through the system, as well as protecting them from potential security issues.

SANITIZE: Data that is i

[2019-04-20 18:18] e271828- opened #4 "use Nonces and/or check permissions on POST calls"
Please add a nonce to POST calls to prevent unauthorized access.

Keep in mind, check_admin_referer alone is NOT bulletproof security. Do not rely on nonces for authorization purposes. Use current_user_can() in order to prevent users without the right permissions from accessing things.

If you use wp_ajax, remember they ALSO need a nonce check.

The following links may assist you in develoment:

h

[2019-04-20 18:20] e271828- opened #5 "ensure we disable Direct File Access for all plugin files"
You can avoid this by putting this code at the top of all php files:

if ( ! defined( 'ABSPATH' ) ) exit; // Exit if accessed directly

For files that only contain a PHP class the risk of something funky happening when directly accessed is pretty small. For files that contain procedural code, functions and function calls, the chance of security risks is a lot bigger.

[2019-04-20 18:22] e271828- opened #6 "Update "Stable tag" value in the readme.txt"
The "Stable tag" value in the readme.txt should be the tag we'll create in the SVN repo and should be related to the plugin version in the plugin PHP file header.

(Credit: Felipe Elia)

[2019-04-20 18:22] e271828- opened #7 ""Wordpress" in the plugin description should have a capital P."
Minor style point.

(Credit: Felipe Elia)

[2019-04-20 18:24] e271828- opened #8 "Clean up code indentation, maybe autolint everything"
For example, in the first lines of: https://github.com/hCaptcha/hcaptcha-wordpress-plugin/blob/master/bbp/bbp-reply.php

(Credit: Felipe Elia)

[2019-04-29 16:35] e271828- opened #10 "Deploy to wp.org SVN after approval"
Using https://github.com/GaryJones/wordpress-plugin-svn-deploy or similar.

[2019-04-29 16:37] e271828- commented on #8
We may also want to run everything through https://phpqa.io/projects/phpcbf.html

[2019-04-29 16:39] e271828- opened #11 "Remove "(alpha)" designation from each form in README.md after testing"

[2019-05-01 15:27] #4 closed

[2019-05-01 15:27] #5 closed

[2019-05-01 15:27] #6 closed

[2019-05-01 15:27] #7 closed

[2019-05-01 15:27] #8 closed

[2019-05-01 15:27] #1 closed

[2019-05-01 15:27] #2 closed

[2019-05-01 15:27] #3 closed

[2019-05-01 15:30] #11 closed

[2019-05-02 22:47] #10 closed

[2019-05-02 22:48] e271828- commented on #10
https://wordpress.org/plugins/hcaptcha-for-forms-and-more/

[2019-07-22 21:10] e271828- opened #12 "Latest Contact Form 7 has a compatibility issue"
[code]

Occurs on current version of plugins as of July 22.

[2019-07-23 02:11] #12 closed

[2020-04-14 22:29] kszere opened #15 "hcaptcha on Download Manager"
How add hcaptcha on Download Manager?
https://wordpress.org/plugins/download-manager/

[2020-04-15 03:09] milindsingh opened #16 "Add support for WPForms"
Add support for WPForms: https://wordpress.org/plugins/wpforms-lite/

[2020-04-15 06:25] e271828- commented on #15
@kszere Hi, if you're not a developer, I'd suggest you email the author of Download Manager to have them add support.

[2020-04-15 06:26] e271828- commented on #16
@milindsingh Hi, if you're not a developer I'd suggest you email the author of WPForms to have them add support.

[2020-04-15 06:52] Pfsm999 opened #17 "Problem on Comments"
Hello,

I find some problem on your 1.3 plugin :
on comment_form.php on default folder.

`add_action( 'comment_form', 'hcap_wp_comment_form' );`

Why ?
comment_form will put your captcha **AFTER** the submit button … non sense.

Change it for :
`add_action( 'comment_form_after_fields', 'hcap_wp_comment_form' );`

And in hcap_verify_comment_captcha
Your forgot one important point : an admin cannot

[2020-04-15 07:00] Pfsm999 commented on #17
Here is the code : https://gist.github.com/Pfsm999/3689cda563aac666f39640c3e5825f8e

[2020-04-15 08:52] Pfsm999 commented on #17
@e271828- For your information : the code is tested on your 1.4.1 and it's working well :)

[2020-04-16 16:15] #17 closed

[2020-04-21 07:46] mariusbolik opened #20 "Feature Request: Invisible hCaptcha"
Hello,

could you please integrate the invisible Version of hCaptcha into this Plugin? :)

Best Regards
Marius

[2020-04-30 16:45] trolley opened #22 "v1.4.2 plugin installed from wordpress.org doesn't include assets"
Installing this plugin v1.4.2 through the built-in Wordpress plugin interface doesn't include the assets directory.

[2020-04-30 16:49] trolley opened #23 "No captcha on Jetpack contact form"
I manually installed v1.4.2 from the release pages of this repo and enabled it on Jetpack contact form but it does not appear, and the form no longer works.

I'm using Wordpress version 5.4.1 and Jetpack 8.4.2.

Please let me know what types of logs or anything I can provide. I'm not super familiar with Wordpress so I'm not sure where to get useful logs for an issue like this.

[2020-05-02 04:50] e271828- commented on #22
Yes, looks like assets should be named plugin-assets or similar. The totality of its plugin-relevant contents is:

https://github.com/hCaptcha/hcaptcha-wordpress-plugin/blob/master/assets/styles.css

which is probably not making a huge difference either way.

[2020-05-16 04:59] NevNic opened #24 "Add hCaptcha to Forminator"
Can hCaptcha be integrated with the Forminator forms plugin please?

[2020-05-16 18:56] e271828- commented on #24
Sure, you can ask Forminator devs (should only take them an hour or two) or open a PR here.

[2020-05-20 15:27] Electromaster232 opened #25 "Contact Form 7 hCaptcha Broken"
Hello,

I am using this plugin along with Contact Form 7 on my WordPress site. When I look at the form, I see and can fill out the hCaptcha, however I cannot submit the form, getting this response in my network tab to the submit request (and yes I did fill out the captcha before attempting to submit):

`{"into":"#wpcf7-f5655-p3397-o1","status":"validation_failed","message":"One or more fields have

[2020-05-21 23:50] e271828- commented on #25
Hi, I'm not certain if that's an error message from the server, but you can try dropping some log statements into the PHP in order to see what the server is returning.

[2020-05-22 00:04] Electromaster232 commented on #25
Hello,

I added the following lines to both hcaptcha.php and hcaptcha-cf7.php
[code]
These are obviously only going to log code errors and not log the responses, and did not affect the output when submitting the form. What logging lines would you recommend so I can see what its doing?

Thanks

[2020-05-22 03:59] e271828- commented on #25
Looks like: https://github.com/hCaptcha/hcaptcha-wordpress-plugin/blob/e2f203f5556785d1074c98d8aa388e928870a70d/common/request.php#L17
is the place you want to log. Seeing `$body` will tell you what's going on.

[2020-05-28 21:10] #22 closed

[2020-06-23 07:04] e271828- commented on #25
Should now be resolved.

[2020-06-23 07:04] #25 closed

[2020-06-23 07:04] e271828- commented on #23
Let me know if this is still happening. Should be resolved in the latest version.

[2020-06-23 11:48] trolley commented on #23
It is still happening. I’m on Wordpress 5.4.2 with hCaptcha 1.5.1 and JetPack 8.6.1. It’s working on the login page, but on the page with the Jetpack contact form it doesn’t appear and the form doesn’t work if hCaptcha is enabled on it; submitting just redirects back to the form page and the message isn’t received.

[2020-06-25 16:14] bowen-dev406 opened #29 "WooCommerce Wishlist Implementation No Longer Works on v 1.5.1"
I updated this plugin from 1.4.2 to 1.5.1. I'm using WooCommerce Wishlist v 2.2.0.

When using v 1.5.1, the hCaptcha element no longer appears on the form. This happens with and without the addendum to create-a-list.php recommended in v 1.4.2.

Using hCaptcha v 1.4.2 with Wishlist v 2.2.0 works fine.

[2020-06-26 04:52] numanzahid opened #30 "Please add support for Elementor forms"
Hi developers,

Please add hcaptcha support for Elementor forms.

[2020-06-26 04:57] numanzahid opened #31 "Shortcode to integrate with any form on WordPress."
Can we have a shortcode support like we have with similar plugins in WordPress.
There are many form plugins out there, and there are totally custom forms.  if we can have a shortcode to integrate hCaptcha, it will be very helpful.

thanks.

[2020-06-26 05:14] e271828- commented on #30
Hi, please ask Elementor to add native support. This plugin is just a temporary solution until other plugins integrate hCaptcha natively.

[2020-07-04 21:03] wuniversales opened #32 "Add support for Divi forms"
I would like Divi support to be added, currently the forms only allow recaptcha to be selected.
https://www.elegantthemes.com/documentation/divi/spam-protection-providers/
I wish I could choose hcaptcha.
Regards

[2020-07-04 21:11] wuniversales commented on #29
I agree with you, I'm using the old version, let's see if they fix it :(

[2020-07-05 04:02] rzippert opened #33 "Doest't require solution on CF7"
Hi,

Just installed the plugin on Wordpress, set up the API keys, enabled CF7 integration and went to test. The captcha shows up just fine and can be solved just fine, however submitting is not blocked if I ignore the captcha. It doesn't matter if the captcha is solved or not, I can submit the form just as before the plugin was installed:

![Captura de tela de 2020-07-05 00-54-32](https://user-ima

[2020-07-06 11:11] donsony commented on #33
I also just noticed this... A fix would be great

[2020-07-07 02:25] e271828- commented on #29
@plexusllc-admin Would you like to take this on?

[2020-07-07 02:28] e271828- commented on #32
Hi there, I'd suggest emailing them directly to add support.

[2020-07-07 12:08] pjv commented on #29
@e271828- it looks to me like @thinhbuzz removed (in e955d415) essentially all of the functionality that [my original patch](https://github.com/hCaptcha/hcaptcha-wordpress-plugin/pull/19) added to hcaptcha-wordpress-plugin. I can see from the comment on the commit that the idea was to DRY the code, but two things:

1. the code that actually does something now is very far away - i looked at v 1.5.1

[2020-07-07 12:12] plexusllc-admin commented on #29
@e271828- it looks to me like @thinhbuzz removed (in e955d415) essentially all of the functionality that [my original patch](https://github.com/hCaptcha/hcaptcha-wordpress-plugin/pull/19) added to hcaptcha-wordpress-plugin. I can see from the comment on the commit that the idea was to DRY the code, but two things:

1. the code that actually does something now is very far away - i looked at v 1.5.1

[2020-07-07 12:19] kagg-design commented on #29
@plexusllc-admin @thinhbuzz @e271828- I am fixing the issue right now.

[2020-07-07 13:22] #33 closed

[2020-07-07 13:28] e271828- commented on #33
@donsony and @rzippert : this should now be resolved in 1.5.2.

[2020-07-07 13:32] kagg-design commented on #29
@plexusllc-admin @thinhbuzz @e271828- Fixed in https://github.com/hCaptcha/hcaptcha-wordpress-plugin/pull/35. No code is needed in theme/woocommerce folder anymore.

[2020-07-07 13:33] e271828- commented on #31
I believe `hcap_shortcode` is what you want.

[2020-07-07 13:35] e271828- commented on #29
@bowen-dev406 or @wuniversales can you confirm this branch works for you?

[2020-07-07 13:37] plexusllc-admin commented on #29
@kagg-design Awesome - looking forward to testing when I have a minute.

[2020-07-07 15:19] plexusllc-admin commented on #29
@kagg-design that is a very clever trick with the `ob_start` and `ob_get_clean` in the before and after wcwl actions.

Unfortunately, it's not working on my site. I get no hcaptcha rendered in the create wishlist form.

![2020-07-07 at 10 14 AM](https://user-images.githubusercontent.com/16086676/86803087-49ae8900-c03b-11ea-8613-3795ea7497d7.jpg)

[2020-07-07 16:09] kagg-design commented on #29
I have tested on my site, and it did work. Could you send the WooCommerce Wishlist plugin to me by email info@kagg.eu, as I am not sure I have the latest version?

Looking at the picture, I do not understand how this could be. `preg_replace` should find the last `<p class="form-row">` (in which submit button is), and insert hcaptcha between `</p>` and `<p class="form-row">`.

Please see how it wor

[2020-07-07 16:40] plexusllc-admin commented on #29
@kagg-design No, I have the checkbox checked.

![2020-07-07 at 11 18 AM](https://user-images.githubusercontent.com/16086676/86811624-bcbbfd80-c043-11ea-82ea-995a2681253e.jpg)

I see I mis-read the code and thought it was matching the row above the button row, but in any case, it is not rendering the hcpatcha before the button row either as you can see in my screenshot above.

Your email host will

[2020-07-07 16:56] kagg-design commented on #29
@plexusllc-admin could you share the plugin somewhere on the Google drive or DropBox? It is the premium plugin, and I found version 2.1.4 only.

[2020-07-07 17:10] kagg-design commented on #29
@plexusllc-admin Thank you, I have activated 2.2.0, and the same - it works for me. Does plugin has proper slug - wp-content/plugins/woocommerce-wishlists/woocommerce-wishlists.php ?

What if to print something in the beginning of the `wc-wl-create-list.php`? What if to print something after `echo $wrapper;` ?

[2020-07-07 17:35] plexusllc-admin commented on #29
i see what the problem is, I think. @kagg-design please download the plugin that is being served from the [wp plugins server](https://wordpress.org/plugins/hcaptcha-for-forms-and-more/) and check the `wc-wl-create-list.php` file in that package.

[2020-07-07 17:57] kagg-design commented on #29
@plexusllc-admin I do not understand your comment. We discuss here the fix I made in https://github.com/hCaptcha/hcaptcha-wordpress-plugin/pull/35

What do you mean? On the wp.org, this file is wrong.

[2020-07-07 17:59] plexusllc-admin commented on #29
@kagg-design the plugin on wp.org was updated to version 1.5.2 right after your fix was merged and I have been assuming that the fix was included in 1.5.2. Is that not correct?

[2020-07-07 18:07] kagg-design commented on #29
@plexusllc-admin no, it is not correct. Today, I have made 3 PRs: for CF7, for Wishlist, and for text domain. Only the first one (CF7, https://github.com/hCaptcha/hcaptcha-wordpress-plugin/pull/34) was merged.

[2020-07-07 18:11] plexusllc-admin commented on #29
argggg. Sorry!

I just tested your code from the repo and it works perfectly.

[2020-07-08 05:44] #29 closed

[2020-07-09 11:54] 1871vinayak opened #37 "False URL Request"
hCaptcha always requests this URL `"wp-content/plugins/hcaptcha-for-forms-and-more/assets/css/admin.css"`
while being accessed and Gets an "HTTP 404 Not Found" error.
So to diagnose this problem I went through its Source Folder (The Plugin Folder `"hcaptcha-for-forms-and-more"`) but within the folder there's no such folder ,file or Path available named `"assets/css/admin.css"`.
What's the problem

[2020-07-13 06:13] 1871vinayak commented on #37
@e271828-
@kagg-design
Please check the above issue #37 👆

[2020-07-13 06:39] kagg-design commented on #37
@1871vinayak Thank you for reporting the issue. This file exists on github, but was not included into wp.org distribution package.

@e271828- Could you update trunk on wp.org? Thanks.

[2020-07-13 14:57] e271828- commented on #37
Is there perhaps an issue with calling the distribution dir "assets" ? I believe we ran into this before.

[2020-07-13 17:30] kagg-design commented on #37
@e271828- I have created https://github.com/hCaptcha/hcaptcha-wordpress-plugin/pull/38.

[2020-07-17 08:58] 1871vinayak commented on #37
@e271828- Thanks for merging the Fix #39 .
Please update the plugin in the WordPress.org so that all the user receives the update.
👍

[2020-07-20 19:57] #16 closed

[2020-07-22 16:50] GalaxyTheoryz opened #41 "Error: The Captcha is invalid."
I have attempted to install hCaptcha on my wordpress site with the correct Site Key and Secret Key. I keep getting 'Captcha Invalid' when I have completed it correctly and I have also disabled all plugins. Not too sure why this is happening but it is preventing users from logging into my website.

[2020-07-22 18:23] e271828- commented on #41
Hi, is this for the basic WP integration?

[2020-07-22 18:46] GalaxyTheoryz commented on #41
Hi, yes, it is. I keep getting Error: Captcha Invalid with all other plugins disabled.

From: e271828- <notifications@github.com>
Sent: 22 July 2020 19:23
To: hCaptcha/hcaptcha-wordpress-plugin <hcaptcha-wordpress-plugin@noreply.github.com>
Cc: GalaxyTheoryz <Patrick.fox1307@outlook.com>; Author <author@noreply.github.com>
Subject: Re: [hCaptcha/hcaptcha-wordpress-plugin] Error: The Captcha is inv

[2020-07-22 18:49] e271828- commented on #41
What WP version? I just tried the latest version of our plugin on WordPress 5.4.2 with no other plugins installed, and selected:

[code]

Everything worked as expected. Please double-check your sitekey (looks like a UUID4) and secret (starts with 0x).

[2020-07-22 18:51] e271828- commented on #37
Now solved.

[2020-07-22 18:51] #37 closed

[2020-07-23 17:36] GalaxyTheoryz commented on #41
Hi, I am using the latest WP Version. I've just tried a different hCaptcha plugin and am getting the same error. I have also disabled all plugins in troubleshooting mode. I might try a different WP installation.

[2020-07-26 21:29] G-Rath opened #42 "Memberpress support (mu-plugin, just needs integration)"
I wrote this as an mu-plugin, based off the code in this repo - it should be a matter of adding the file & then an option.

I'll probably make a PR myself at some point when I've got the bandwidth, but for now here's the mu-plugin if someone else has the time and wants to make the PR:

[code]

[2020-07-30 05:53] e271828- commented on #42
Thanks, look forward to a PR :)

[2020-08-10 07:10] Pfsm999 opened #44 "Error when i try to answer a comment on administration side of WordPress"
Hello,

I'm on the latest version of WordPress,
I try to answer a comment on my website and when i try to validate, i get a "Error: Please complete the captcha.".
I activate the Captcha on comment ... but i don't want to have that if i already on administration side :)

Can you correct that ?
Thanks a lot.
Regards.
![image](https://user-images.githubusercontent.com/31304759/89758860-1bfcaa00-dae9-

[2020-08-10 07:14] Pfsm999 commented on #44
Latest version of your plugin so : Version 1.5.4
![image](https://user-images.githubusercontent.com/31304759/89759183-df7d7e00-dae9-11ea-9e57-e172dec7cf00.png)

[2020-08-15 13:26] gitmko0 opened #45 "possible to have native enabling for brizy , contact form 7 and beaver builder plugin?"
possible to have native enabling for brizy , contact form 7 and beaver builder plugin?

it'll be dream come true! when we can expect the native auto enabling of these above?

[2020-08-21 13:39] ErinPo opened #47 "Possibly superfluous code in cf7/hcaptcha-cf7.php"
`function enqueue_hcap_cf7_script() {
	global $hcap_cf7;

	if ( ! $hcap_cf7 ) {
		return;
	}`

This seems to prevent the following inline script from ever being inserted as $hcap_cf7 is not set until later by the shortcode.

[2020-08-24 18:44] MrCater commented on #30
Yes please

[2020-08-26 07:33] gitmko0 opened #48 "The only problem with this plugin is it loads in every page / post on wordpress"
The only problem with this plugin is it loads in every page / post on wordpress
possible to make it so that it will only appear on pages / post that have the detection of contact form 7 / woocommerce page / form on?
can anyone provide the code for this only? i'm only using contact form 7 and woocommerce.

[2020-09-02 20:16] e271828- commented on #45
Hi, I'd suggest opening a PR or emailing those plugin authors: this plugin is entirely user-developed.

[2020-09-21 08:28] HammyHavoc commented on #25
Getting this issue too.

[2020-09-28 20:54] jeremiahbenes opened #49 "Add support for Gravity Forms"
The plugin does not support [http://gravityforms.com/](Gravity Forms). It would be awesome if there were drop in support for this plugin.

[2020-10-04 22:20] AtomMobile commented on #44
Hello,
We are also having the same issue as listed above. Our version of hCAPTCHA is 1.6.1.

It works fine for the User when they are commenting on a blog post. However, when the Site Admin attempts to **_Reply_** to a post in the WordPress Comments panel, he receives the following error message:

**“Error: Please complete the captcha.**

Any ideas on a fix for this issue?
Thank you.

Here's a scr

[2020-10-16 02:10] ben-dietrich commented on #49
Second that request! We use Gravity forms on too many sites to count and Akismet only takes us so far.

[2020-10-23 08:37] dausruddin commented on #44
Bump for attention.

 I had to disable and go with recaptcha again😅

[2020-10-23 13:43] AtomMobile commented on #44
That is certainly too bad, as we'd rather not have to utilize recaptcha on our sites. Hopefully, this (seemingly) simple issue can be addressed sooner rather than later.

[2020-10-23 16:32] e271828- commented on #44
Hi, we'll try and get it fixed, since it looks like no one has PR'd this one to date.

[2020-10-23 19:32] AtomMobile commented on #44
Very, very cool… Thank You!

[2020-10-30 02:40] molecula451 commented on #44
You got it guys on #51 Hope everyone find it useful and keep having fun with hcaptcha!

[2020-10-30 04:34] e271828- commented on #44
@dausruddin or @AtomMobile please try the PR and confirm it solves this for you.

[2020-10-30 10:13] Jordidriesen opened #52 "Wp Fluent Forms integration"
Since it's a plugin that's getting popular, it would be nice to use hcaptcha on it.

[2020-10-30 20:06] gaieges commented on #44
Keeping open until verification

[2020-10-31 03:46] dausruddin commented on #44
Sorry, took me a while. I can confirm the fix is working. Thanks :)

[2020-10-31 13:44] AtomMobile commented on #44
Thank You, thank you!
The fix works… Deluxe!

[2020-10-31 18:28] e271828- commented on #44
Great, closing :)

[2020-10-31 18:28] #44 closed

[2020-11-06 02:12] KennyStier commented on #23
I too seem to be having issues with hCaptcha on the Jetpack contact form. It works in the other spaces where I have it enabled.

[2020-11-11 04:48] Eniamza opened #53 "[Integration] Easy Digital Downloads and Frontend Publishing"
EDD Plugin : https://wordpress.org/plugins/easy-digital-downloads/
Frontend Publishing Pro : https://wpfrontendpublishing.com/

[2020-11-12 06:39] erikjoling commented on #49
I agree, though there seems to be a different plugin which solves this: https://wordpress.org/plugins/gf-hcaptcha/

[2020-11-13 16:48] antonywu commented on #23
I am reporting the same issue with Wordpress 5.5.3, hCaptcha 1.6.3, and JetPack 9.0.2
The JetPack Contact Us form doesn't appear to have the hCaptcha present even though it does seem to block message from being sent. (makes senses as the form fails the hCaptcha in the background, but user has no way of seeing the hCaptcha in the first place)

[2020-11-13 17:03] e271828- commented on #23
@kagg-design can you take a look?

[2020-11-14 11:41] kagg-design commented on #23
@e271828- I see, it does not work with Block Editor. With Classic Editor, it works. Adding a code...

[2020-11-14 18:41] kagg-design commented on #23
@e271828-  https://github.com/hCaptcha/hcaptcha-wordpress-plugin/pull/54

[2020-11-16 02:38] e271828- commented on #23
@antonywu @KennyStier can you please try out https://github.com/hCaptcha/hcaptcha-wordpress-plugin/pull/54 and let us know if that solves your issue?

[2020-11-18 17:46] KennyStier commented on #23
@e271828- @kagg-design  #54 Solved my issue. Thanks

[2020-11-18 18:33] #23 closed

[2020-11-26 23:26] e271828- commented on #48
Hi, PRs welcome :)

[2020-11-28 21:05] shaunwarman commented on #41
May want to watch out for javascript interpreting the 0x as hex which would lead to your site key being interpolated as some random number instead of your actual site key.

[2020-11-28 21:43] e271828- commented on #41
@shaunwarman do you see any examples of this in the code?

[2020-12-02 21:55] gittycatpower opened #55 "Firefox Ninja Plugin"
Hi there,

I am using hcaptcha and the ninja form plugin.
It works fine, however not in firefox. there is an issue, it says despite solving the hcaptcha that its not completed.
Could you try to fix that?

kind regards

[2020-12-02 22:26] Filip785 opened #56 "[hCaptcha] Missing sitekey but the sitekey is entered"
Hi,

I installed this plugin on one of the websites I maintain, but the integration with CF7 does not seem to work. The checkbox gets rendered in form but it doesn't work and gives [this messages in the console](https://ibb.co/ZLqtt6H), implying that sitekey is not entered, but it is entered in wp-admin. Also the pages where there are contact forms never fully finish loading the key in tab just ke

[2020-12-03 00:22] e271828- commented on #56
@kagg-design can you take a look when you have a chance?

[2020-12-03 00:24] e271828- commented on #55
Did you confirm this isn't due to some Firefox plugin or setting? Please download a clean Firefox and double check.

[2020-12-03 21:49] gittycatpower commented on #55
Yes, I tried that, also with several different decives.
The hcaptcha box doesnt show up.

[2020-12-03 22:49] e271828- commented on #55
@kagg-design can you take a look?

[2020-12-04 09:40] kagg-design commented on #55
@e271828- yes, I will take a look at this and CF7 issue.

[2020-12-08 19:45] kagg-design commented on #56
@Filip785 @e271828- I cannot replicate this, please see that everything works on my test site: https://prnt.sc/vyijv9

Issue by itself looks like CF7 does not work by itself, and symptoms are similar to the case when REST is blocked.

Concerning error with 2 forms, I also have no idea. It is better to look at the site. If @Filip785 can share credentials (not here, but on my email,m which can be fo

[2020-12-08 20:52] kagg-design commented on #55
@e271828- @gittycatpower Again, as in issue 56, I cannot reproduce the bug. Everything works well on the test site, as in Chrome, so in Firefox.

[2020-12-08 23:28] gittycatpower commented on #55
![hcaptcha](https://user-images.githubusercontent.com/75396279/101553677-6fa6d380-39b5-11eb-927e-c9c12c95c83a.PNG)

[2020-12-08 23:32] gittycatpower commented on #55
![hcaptcha2](https://user-images.githubusercontent.com/75396279/101553784-a7158000-39b5-11eb-867b-e8edbf71c8d4.PNG)

After switching in options from strict to standard, 1 error was gone. The error was, that after clicking on the hcaptcah, the iframe popup of selction for the pictures jumped to the top of the page. thats gone ofter this setting, and the popup occures right where it should be, but s

[2020-12-15 18:42] dltmurphy commented on #41
This is also affecting 2 sites i have taken work on for. It passes the hCaptcha window but when submitting it gives the invalid error

[2020-12-31 01:57] gitmko0 opened #57 "Possible to add hcaptcha to DIVI theme without needing to ask them to support hcaptcha?"
I know it's not difficult. I know you have mentioned to Divi to ask them to support hcaptcha but can we do it without waiting for them?

[2020-12-31 02:20] e271828- commented on #57
Yes, if you open a pull request here with the change we will merge it: that's how all the existing plugins/themes got their support.

[2021-01-01 16:35] aledef opened #58 "Captcha verification before username verification"
Captcha error is shown only if username is good, otherwise wrong username notice is shown.
In other words captcha is verified AFTER username verification, whilst it should be verified BEFORE.
This would enhance effectiveness against brute force attacks.

[2021-01-09 14:58] gittycatpower commented on #55
any news about this issue?

Sent with [ProtonMail](https://protonmail.com) Secure Email.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Tuesday, December 8, 2020 8:52 PM, KAGG Design <notifications@github.com> wrote:

[2021-01-09 19:49] e271828- commented on #55
Other people in the thread could not reproduce it: everything worked as expected.

Most likely it is related to some other plugin you have installed, or some setting combination we have not tried.

Please try a fresh install, and adding plugins back one by one.

[2021-01-18 18:24] dltmurphy commented on #41
Mine seem to be getting blocked by my Wordfence plugin. I'm looking into how to allow hCaptcha to run without being blocked and will post here when it works

[2021-01-19 01:31] yulianto8327 opened #59 "How to integrate to contact form 7"
Do you have any documentation how to integrate this with contact form 7? It's already enabled for contact form 7, but it's not showing the hcaptcha. Do I need to add code to the contact form 7?

[2021-01-19 15:26] mainserv commented on #48
Same technique -> reCaptcha seems to be working :
`add_action('wp_print_scripts', function () {
	global $post;
	if ( is_a( $post, 'WP_Post' ) && !has_shortcode( $post->post_content, 'contact-form-7') ) {
		wp_dequeue_script( '**hcaptcha-script**' );
	}
});`

[2021-01-19 16:31] mainserv commented on #59
Go to hCaptcha settings and **_Enable Contact Form 7 Addon_** ;)

[2021-01-20 00:39] yulianto8327 commented on #59
it's already enabled but still not working

[2021-01-21 02:57] f-j-h opened #61 "Captcha is not displayed on the forgotten password page"
On Wordpress 5.6 the Captcha is not displayed on the forgotten password page.

[2021-01-21 14:32] kyaniheessels opened #62 "hCaptcha error when refreshing Contactform 7"
I have the add-on installed for Contactform 7, and it works fine except for one bug I came across.

When I fill in the form the wrong way, for example filling in a non valid email address, and then prove that I'm human after which I submit the form. I get the notification that the email isn't okay... so when I correct that the hCaptcha box stays checked so I submit try to submit the form. But then

[2021-01-26 11:00] 1clapmac commented on #57
Hi, I'm also interested..because of this Situation :

I'm using Divi creative agency  (elegant themes )  through Divi version Version : 4.8.1  at infomaniak. I have an account hcaptcha (that is is API-compatible with reCAPTCHA). I have the sitekey and secret implemented in the divi form ("Use A Spam Protection Service" activated on ‘yes’ ) and the account activated on the server side for :
- Enabl

[2021-01-28 14:55] WebNetSolving opened #64 "How to include and / or setting the remote ip"
Hi,

How to include and / or setting the remote ip ?

Thanks in advance for the support.

[2021-01-28 15:56] e271828- commented on #64
You'd just add it here:
https://github.com/hCaptcha/hcaptcha-wordpress-plugin/blob/19553ba264605fee78b6807b8245e34be90e6e75/common/request.php#L23

i.e. add `&remoteip=$ip` to api.js

with a function like:

[code]

[2021-02-01 15:25] kagg-design commented on #48
@mainserv it not a solution. What if CF7 form is in the sidebar? What if it is in the header or footer? In a popup?

Same questions are related to forms in other compatible plugins.

[2021-02-03 11:11] djramones opened #66 "Feature Request: enable on WooCommerce Checkout Form but only for guests"
It would be very nice to present the captcha to unauthenticated users (so as to protect against spam orders), but not to those customers who have already made the effort to sign-up for an account (which is bothersome and can reduce conversions).

[2021-02-10 14:43] ngrhd commented on #49
Third request!

[2021-02-18 17:24] cristiancs commented on #59
In my case it didn't work because i had installed w3 total cache installed and didn't cleared the cache, also make sure you put your site and secret key.

Finally, if it still doesn't appears, you could add

[hcaptcha] to your form.

[2021-02-26 07:16] Soptak opened #71 "Enable hCaptcha on Woocommerce order tracking form"
Hello,

I would like to enable hCaptcha on the default Woocommerce track order form.

[woocommerce_order_tracking] – shows the order tracking form

Please advise if it’s possible.

Thank you

[2021-02-27 18:57] ktmn opened #72 "JS error with latest CF7"
I get this error when submitting the form:

[code]

`index.js` being `/wp-content/plugins/contact-form-7/includes/js/index.js?ver=5.4`, but the error only appears with this plugin active.

[2021-02-27 21:42] e271828- commented on #72
@kagg-design can you take a look?

[2021-02-28 15:19] kagg-design commented on #72
@e271828- sure, will do soon.

[2021-03-03 20:34] kagg-design commented on #72
I cannot reproduce this bug. `/wp-content/plugins/contact-form-7/includes/js/index.js?ver=5.4` is executed on the test site, but does not produce an error. @ktmn please give me instructions on how to reproduce this bug, starting from the clean WordPress install.

[2021-03-03 22:44] sycured opened #73 "plugin broken: file doesn't exist"
I did the update to 1.8.0, and I've this error:
[code]

[2021-03-03 23:24] csalzano commented on #73
1.8.0 also bricks my site with this error

[code]

[2021-03-03 23:28] e271828- commented on #73
@csalzano @sycured sorry about that! We just rolled back: update to 1.6.5 and you should be set.

[2021-03-04 00:07] e271828- commented on #73
Closed in db9c04ed2efaf1c208ab6717e5db5110c631df4f

[2021-03-04 00:07] #73 closed

[2021-03-04 00:21] BentHaase opened #75 "Probably broke a lot of Wordpress sites with 1.8.0"
The few minutes `1.8.0` was / is live seems to have broken one of our pages which has plugin auto-updates running.

I know this is not helping you, I can fix this on our side but there might be quite a few WP sites broken...! :astonished: Just a heads up.

**quickfix for any future timetraveler:**

### be careful with `rm` :warning:

Simply remove the plugin from your plugins directory.

[code]

[2021-03-04 02:18] e271828- commented on #75
Hi @BentHaase , sorry about that. It seems like only a small number of sites auto-upgraded before we pushed the 1.8.1 hotfix.

Humorously enough, the issue was related to efforts to add 100% test coverage and full integration tests in 1.8.0 series.

[2021-03-04 02:21] e271828- opened #76 "New test: in clean directory, install last tagged version, then upgrade to current commit and check for errors."
@kagg-design

[2021-03-06 13:00] ktmn commented on #72
The error only appears if you submit the form without solving the captcha. The error seems to stem from handling invalid fields:

![image](https://user-images.githubusercontent.com/6892634/110207293-3cc48c80-7e8b-11eb-9db9-5bee4f0e1729.png)

@kagg-design

Clean WP, 2020 theme, default CF7 form, hCaptcha plugin with false site key and secret, CF7 addon enabled. I add the form to a page, then submit

[2021-03-06 20:03] kagg-design commented on #72
Thank you for your explanation. Solved, will be included in 1.9.0.

[2021-03-07 02:38] comedyaddict commented on #66
Agreed, that would be a beneficial option IMHO.

[2021-03-07 06:45] djramones commented on #66
It seems that all that's needed to achieve this (if it's okay to make this the default behavior for this particular feature/module), is to wrap the `add_action` calls in [`wc/wc-checkout.php`](https://github.com/hCaptcha/hcaptcha-wordpress-plugin/blob/db9c04ed2efaf1c208ab6717e5db5110c631df4f/wc/wc-checkout.php) with `if ( ! wp_get_current_user()->exists() ) { ... }`.

Disclaimer: I'm new to WordPr

[2021-03-07 15:20] comedyaddict commented on #66
Good point; that's what I would have done when I was doing php development in my own applications if I needed this.  I just haven't had the time to learn Wordpress dev. Hopefully this file doesn't get updated too often ;-) Thanks for the code, it's a good workaround that hopefully the plugin developer adds.

[2021-03-07 16:27] rexmightlag opened #77 "Wordpress pages where hcaptcha is enabled, showing as not mobile friendly on search-console/google mobile-friendly test."
I had hcaptcha running on a wordpress site for a couple of months. When I visited the search console I found that pages (posts where hcaptcha was enabled on comment form) didn't appear on the mobile usability tab.

I also tested the particular pages on https://search.google.com/test/mobile-friendly , but the test failed to run.

However, if I check my homepage (or nay other page where hcaptcha is

[2021-03-07 16:52] #75 closed

[2021-03-08 06:05] e271828- commented on #77
Not sure how this could be the case. As a random example, https://www.hcaptcha.com/ embeds hCaptcha and shows as mobile-friendly via that URL.

Did you check your robots.txt and meta tags?

[2021-03-08 08:32] rexmightlag commented on #77
I have checked the robots.txt and the meta tags. This only happens when hcaptcha is enabled on that page. If I disable the plugin, pages start to appear as mobile friendly again.

For example check this page on mobile-friendly tester https://dashboard.hcaptcha.com/signup .

[2021-03-09 02:20] comedyaddict commented on #66
Actually this has method has some unintended consequences. It appears that if you enable the hcaptchta on your checkout page, it still injects code that tries to verify it. The above code effectively only hides the box during checkout, but the site appears to think it actually is there.

[2021-03-09 06:10] djramones commented on #66
Sounds like you added the code snippet for the first `add_action` call (the one for `hcap_display_wc_checkout`) but not for the second one (the one for `hcap_verify_wc_checkout_captcha`). The first is what displays the captcha box to the user, the second is what makes the backend look for a valid captcha in form submissions before allowing WordPress to accept the data. I've tested this on an actua

[2021-03-11 18:28] blaircomm opened #78 "Not fully working with CF7 - Mar-2021"
If the user does not even fill in the H-Captcha on the form, the page will refresh anyway ass if the message was sent, without a mandatory error message. But, the message will not be sent. This leaves the user thinking the message was sent when it wasn't.

It works when it is filled in, but does not inform the sender that the message has been successfully sent.

Both cases ender the plugin unworka

[2021-03-11 21:07] e271828- commented on #78
@kagg-design when you have a chance, please look. @blaircomm , we always suggest using native hCaptcha integrations like WPForms if you can, as CF7 or any other plugin can make changes on their end.

[2021-03-17 18:01] albridi opened #79 "Support for Caldera Forms"
Hi there :) !

I would like to use hCaptcha with my forms, made with Caldera.

Do you plan to add support for this plugin?

Thanks in advance.

Kind regards.

[2021-03-17 18:51] e271828- commented on #79
Hi @albridi , you can open a PR here, or ask Caldera to add native support.

[2021-03-17 20:13] albridi commented on #79
Thanks for help :) . I'll open a PR.

Regards.

[2021-03-19 08:31] hollowaykeanho commented on #41
I reproduced this problem (too frequent until it is unusable, even on easy level). Given 2 of my beta testers done it correctly, hCap still give invalid results.

No code customization. Just plugin install, integrate and use.

[2021-03-21 17:27] #72 closed

[2021-03-21 17:43] e271828- opened #81 "Switch from kagg-design/action-wordpress-plugin-deploy@test in future"
Once changes are merged upstream, switch back.

[2021-03-22 08:57] wiwi-websolutions opened #83 "Captcha failed"
When using the plugin it sometimes fails without any error code, it just says "captcha failed", while the captcha is marked as completed. Is there any way for us to check what's causing this issue?

Example of the error: https://images2.imgbox.com/0e/4f/oDG6vRr1_o.png

We tried the following:
- disabling all caching methodes
- remove all other scripts
- different domains/websites
- latest WordPres

[2021-03-22 16:02] kagg-design commented on #76
I think it is OK now. Should we close this issue?

[2021-03-22 17:02] kagg-design commented on #78
I have fixed similar issue 72, and with the latest version of the plugin 1.9.0, I cannot reproduce the problem. @blaircomm could you provide further instructions?

[2021-03-22 17:04] kagg-design commented on #62
I believe it is the same as for issue #72 and was fixed in 1.9.0. Could you check?

[2021-03-22 17:06] kagg-design commented on #59
`[cf7-hcaptcha]` is added automatically 'on the fly' to the Contact From 7. I have fixed a similar issue, please check the problem with the latest plugin version 1.9.0.

[2021-03-22 17:32] blaircomm commented on #78
We have decided to redo our forms using WPForms when time allows. Too much hassle to troubleshoot CF7. Thanks for the feedbck.

[2021-03-23 09:59] kyaniheessels commented on #62
I've updated the plugin and checked but it doesn't seem to have fixed the issue.

[2021-03-27 18:50] kagg-design commented on #62
Thank you for the explanation, I got the problem, will try to fix it.

[2021-03-28 14:45] #47 closed

[2021-03-28 14:45] #62 closed

[2021-03-28 17:47] e271828- commented on #83
Do you have any logs from the backend?

[2021-03-29 06:03] wiwi-websolutions commented on #83
Does the plugin write any logs, or do you mean server logs?

[2021-04-01 09:47] teddyubob opened #87 "Error: Please complete the captcha. Woocommerce 5.1.0 Login Form"
Hi,
On WordPress Version 5.7
Hcaptcha wordpress plugin 1.9.0 gives an Error: "Please complete the captcha" on woocommerce 5.1.0 login form even when the captcha is solved correctly.

This issue only occurs when either "Enable hCaptcha on Login Form" or "Enable hCaptcha on WooCommerce Login Form" option is checked and user try to login on site.com/my-account/

[2021-04-03 13:38] pwnoobz commented on #41
I can confirm the problem persists in the current version with the latest WP version.

[2021-04-03 14:05] pwnoobz commented on #83
I am having the exact same problem and I'm also asking if the plugin writes any error logs.

[2021-04-04 15:38] e271828- commented on #87
@kagg-design can you take a look?

[2021-04-04 22:20] lgdelai opened #88 "I found a translation error"
Hi.

I found a translation error:

When I try to send a form without selecting the checkbox, I receive the message in English, not in Portuguese.

"The Captcha is invalid"

I inform that I already added the code "pt" in the field "Override Language Detection (optional)"

[2021-04-05 00:09] e271828- commented on #88
Hi, you can add translations here: https://translate.wordpress.org/projects/wp-plugins/hcaptcha-for-forms-and-more/

[2021-04-05 18:56] JXGA commented on #87
Also experiencing this issue.

Disabled the plugin by renaming the folder in `wp-content/plugins`

[2021-04-05 20:30] e271828- commented on #87
You should also be able to downgrade to 1.8.1.

[2021-04-06 02:33] ForNesiaFreak commented on #83
Does anyone solve this problem ? I am having the exact same problem in my 3 website

[2021-04-06 06:21] Peter9936 commented on #83
Same problem here. Have the captcha activated on the login page of WooCommerce, but when someone tries to login, the captcha marks as completed (no error is displayed, not even in console). After submitting the login form, it refreshes the page and does nothing. This needs to be fixed ASAP. Disabling the captcha solves the problem.

[2021-04-06 10:39] pwnoobz commented on #83
Can you please share how?

[2021-04-07 13:38] nirmitha-mw opened #89 "Plugin injects the verification box even inside unnecessary <form> tags"
Hi!

`I’m using hCaptcha in Jetpack contact form.
Looks like hCaptcha plugin target unnecessary < form > (s) in my website & inject the verification box with all of it.
How to fix this? How to target Jetpack contact form only?

hCaptcha showing inside the search button. Please check :- https://snipboard.io/Uq2LzM.jpg
My contact form is working fine. :- https://prnt.sc/10zi1ov

hCaptcha settings :-

[2021-04-08 11:04] teddyubob commented on #87
@e271828- is downgrading Hcaptcha plugin 1.9.0 to 1.8.1 the only solution or is there an update expected? Thank you

[2021-04-09 06:53] lukasleitsch opened #90 "Version 1.9.1 is not available in the WordPress Plugin Directory"
On GitHub you released the [Version 1.9.1](https://github.com/hCaptcha/hcaptcha-wordpress-plugin/releases/tag/1.9.1). This version contains major changes for the ContactForm7 Integration. In the WordPress Plugin Directory [the latest version of this plugin is 1.9.0](https://wordpress.org/plugins/hcaptcha-for-forms-and-more/).

When do you plan the release of 1.9.1 in the WordPress Plugin Directory

[2021-04-12 03:36] naharronak opened #91 "Divi theme hCaptcha issue"
I am using the Divi theme (https://www.elegantthemes.com/gallery/divi/) for my WordPress. I am trying to add hCaptcha in my contact form, but what I found is that hCaptcha does not work/support the Divi contact form. Can you please look into this?

[2021-04-17 13:02] naharronak commented on #32
Hi @wuniversales,

Did you find a solution to the this?

[2021-04-21 11:43] monaalexandra commented on #49
Yes, please!
I thought since Gravity Forms is sich a wildly used form plugin it is already supported, but just found out today that it's not… 😔

[2021-04-22 16:26] djdadspins opened #92 "Woocommerce login error"
I had Hcaptcha enabled on woocommerce login and registration enabled.  After completing the captcha correctly and clicking login, I get "Error: Please complete the captcha".  I disabled captcha on the login but left enabled on registration and still get the error.

Woocommerce 5.2.2
Wordpress 5.7.1

[2021-04-25 11:42] JXGA commented on #92
Same as this: https://github.com/hCaptcha/hcaptcha-wordpress-plugin/issues/87

[2021-04-25 18:34] e271828- commented on #92
Closing as dup

[2021-04-25 18:34] #92 closed

[2021-04-28 13:21] apeman76 opened #93 "Feature request: Set keys and options in wp-config.php"
I have a multisite running and would love to be able to set the keys and options through my wp-config.php so I wont have to go through every subsite and edit it.
Is this possible?

[2021-05-02 17:34] #87 closed

[2021-05-27 17:37] captaincourageous opened #98 "Not working with Contact Forms 7"
I know this has been brought up before but hcaptcha does not work with Contact Forms 7.  All of my settings with hcaptcha.com are correct.

I do the following:
1. fill out form.
2. tap "I am Human" in hcaptcha
3. complete captcha
4. captcha validates
5. hit SEND
6. error message: "The Captcha is invalid."

[2021-06-03 04:15] e271828- commented on #90
1.9.2 released.

[2021-06-03 04:15] #90 closed

[2021-06-03 04:16] e271828- commented on #98
@kagg-design can you take a look?

[2021-06-03 04:16] e271828- commented on #93
PRs welcome :)

[2021-06-16 00:59] lgdelai commented on #88
All Translations Done,

Thanks

[2021-06-16 00:59] #88 closed

[2021-06-16 20:35] KZeni opened #99 "Add support for Profile Builder (Profile Builder forms ignore hCaptcha even when using [hcaptcha] shortcode)"
~Currently, enabling hCaptcha for the login form & everything via this plugin while then using Profile Builder (https://wordpress.org/plugins/profile-builder/) to restrict the content of a site (and show a login form on the page instead of the content) has the login form shown without hCaptcha being shown. Then, submitting the login form says:~

~So it seems like the server-side protection is ther

[2021-06-19 11:50] yeswycan commented on #30
Yes, must have ! Please :D

[2021-06-30 10:56] #31 closed

[2021-06-30 18:59] kagg-design commented on #58
In which scenario? WP login page or some plugin?

[2021-06-30 19:01] kagg-design commented on #61
I cannot confirm it. Please explain how to reproduce.

[2021-07-01 06:51] aledef commented on #58
WP login page

[2021-07-03 14:12] kagg-design commented on #41
How to reproduce this issue? Or, could you provide the access to the site where you have the issue?

[2021-07-03 14:14] kagg-design commented on #48
From version 1.10.1, the hCaptcha script runs only if the hCaptcha form was used somewhere on the page.

[2021-07-03 14:14] #48 closed

[2021-07-03 14:14] kagg-design commented on #56
Closed as non-reproducible.

[2021-07-03 14:14] #56 closed

[2021-07-03 14:15] #59 closed

[2021-07-03 14:15] #61 closed

[2021-07-03 14:16] #78 closed

[2021-07-03 14:18] kagg-design commented on #98
This is fixed in the last version of the plugin.

[2021-07-03 16:51] captaincourageous commented on #98
I turned it back on and encountered these issues:
1. hcaptcha does not display at all. all settings are as they were. contact forms 7 is enabled from the list.
2. adding [hcaptcha] to the form itself in the form editor causes two instances of htcaptcha to be displayed - one on top of the other
3. filling out both: one seems to be ok but the other continuously invalidates.

So... I deleted the plug

[2021-07-03 17:40] pwnoobz commented on #41
I am sorry to inform you that my posting is old. By the time you answered me, the issue was already fixed but thanks for paying attention!

[2021-07-03 18:11] #41 closed

[2021-07-04 09:45] kagg-design commented on #98
@captaincourageous It is my bug in 1.10.1, apologies. I have fixed it in 1.10.2. Will be published on wp.org soon.

[2021-07-04 09:45] #98 closed

[2021-07-04 19:08] kagg-design commented on #98
We have published 1.10.2 on wp.org.

[2021-07-06 01:19] captaincourageous commented on #98
Thans for all your hard work on this.
Unfortunately it still does not function. Am I the only one who experiences this? I created a new site key and, rather than using it on the contact form, used it on the basic wp login to see if there was some conflict with contact forms 7. Alas, the same error: "Error: The Captcha is invalid."

[2021-07-07 00:46] djramones commented on #66
The new v1.10 release adds a “Turn off when logged in” setting, and that addresses this request.

[2021-07-07 00:46] #66 closed

[2021-07-09 03:29] ttctst opened #104 "Add support for form in jetengine"
I wnat to use hcaptcha  in jetengine ., but it seems not support jeteninge now . Plz help me to solve the problem

[2021-07-15 08:37] KreatifDesign opened #105 "Add support for elementor"
Any idea if support for elementor forms will be added?

[2021-07-20 04:36] erikdemarco opened #107 "Add more support for Woocommerce..."
Woocommerce have builtin order tracking located at https://yoursite.com/track-order/
or if you can't find it use 'woocommerce_order_tracking' shortcode

Please add capabilities to add capthca to these tracking order page.

[2021-08-05 12:23] kagg-design commented on #107
Are you sure? Attempt to use such an URL with just WooCommerce installed gives 404. Same with /my-account/track-order. Same with Storefront theme.

Please clarify.

[2021-08-12 12:58] kagg-design commented on #89
Do you use this plugin? https://jetpack.com/upgrade/search/ If yes, I need it for testing. Please contact me via https://kagg.eu/en/contacts/

[2021-08-12 12:59] kagg-design commented on #104
JetEngine is a paid plugin for Elementor and Gutenberg, as far as I know. I don't have it. Please provide a copy for testing via https://kagg.eu/en/contacts/.

[2021-08-21 18:39] Tanman897 commented on #105
Yeah, this is long overdue. Please add Elementor Forms support.

[2021-08-21 18:41] Superpigdots opened #110 "Please Add Accept Stripe Payments plugin compatibility"
Please add hcaptcha compatibility to the forms in Accept Stripe Payments plugin: https://wordpress.org/plugins/stripe-payments/

[2021-08-21 20:16] kagg-design commented on #105
@Tanman897 do you see my question above? I cannot proceed without an answer.

[2021-08-22 01:54] Tanman897 commented on #105
@kagg-design I have not ever used the free version of Elementor. In Elementor Pro, form is a widget option in the Elementor page builder interface. But your question is not related to this issue nor even to hcaptcha at all. You really should be asking this elsewhere or Googling it yourself.

[2021-09-06 11:44] MaelImhof commented on #57
The support of Divi is more difficult as Divi does not follow all the Wordpress coding standards. What I mean is that there are **[no hooks to filter](https://www.elegantthemes.com/documentation/developers/hooks/)** either contact form displaying nor contact values processing.

I was thinking of a way to add Divi support, and the only ones I currently see are :

1. [Creating a Divi custom module](

[2021-09-06 12:00] MaelImhof commented on #32
Hi @naharronak,

If you're still looking for a solution, please read [this other issue thread](https://github.com/hCaptcha/hcaptcha-wordpress-plugin/issues/57#issuecomment-913582885). It may give you a way to use hCaptcha on your Divi website

[2021-09-06 12:01] MaelImhof commented on #91
Hi @naharronak,
As I mentioned in the first thread you opened, you may find a solution in [this other issue thread](https://github.com/hCaptcha/hcaptcha-wordpress-plugin/issues/57#issuecomment-913582885).

Have a nice day !

[2021-09-13 20:05] seamive commented on #57
Any updates on this? There is a Divi Module named "Supreme Contact Form 7" and "Divi Contact Form" I guess both can use hCaptcha inside it.

[2021-09-13 22:50] e271828- commented on #57
You can try the shortcode:

https://github.com/hCaptcha/hcaptcha-wordpress-plugin/blob/24db1998eee98e9c1472da26928fc93a64ca1833/readme.txt#L57

[2021-09-14 14:55] seamive commented on #57
Well, if we see the settings, hCaptcha does support Contact Form 7 but how to make it work with the module of Divi Supreme itself? We tried adding the hCaptcha and seems like it shows both hCaptcha and reCaptcha at the same time.
We added [hcaptcha] directly inside contact form 7

[2021-09-16 09:33] nirmitha-mw opened #112 "Not Working correctly in the Jetpack contact form"
Hello! I have been noticing that hCaptcha not working in the Jetpack contact form. It is showing the Captcha. But users can send emails without solving the puzzle.

I checked in WordPress login forms. It's working correctly there. A few months ago, it was working fine. I noticed this a couple of weeks ago & today just verified there is a problem.

https://user-images.githubusercontent.com/32463358

[2021-09-18 22:45] Player701 opened #113 "Login/register/password forms layout issue"
Hello there.

This is purely a visual issue. The captcha itself seems to work fine for me, but either the login form needs to be a little wider, or the captcha element itself should be a bit shorter.

![image](https://user-images.githubusercontent.com/9046118/133910305-d96cd944-b008-4f92-99ed-52e184d88057.png)

It looks the same on the registration and password recovery forms, too.

[2021-09-19 19:34] kagg-design commented on #112
Hello.

I cannot reproduce it and have some questions.

1. What kind of form is it - for Classic editor or Gutenberg?
2. What browser do you use?
3. Do you have any error messages in the browser console?

Thank you.

[2021-09-20 18:42] kagg-design commented on #89
I cannot confirm this,

I have installed the official [Jetpack Search addon](https://jetpack.com/support/search/).

Please see the screenshot:

![image](https://user-images.githubusercontent.com/28291450/134056133-ea6a5ad1-a966-45d7-9c06-8ca5d773d343.png)

[2021-09-20 18:54] nirmitha-mw commented on #112
1. It's Jetpack Contact form
2. Edge, I tried in many browsers & using my iPhone.
3. No. Here is the link, you can check:- https://softopaz.com/contact/

[2021-09-20 18:57] nirmitha-mw commented on #112
01) It's Jetpack Contact form
02) Edge, I tried in many browsers & using my iPhone.
03) No, I tested in many ways. purged cached, cookies, etc...

[2021-09-22 18:03] kagg-design commented on #89
I have finally understood what kind of form is impacted by the plugin. It is not a Jetpack Search. It is a simple standard search form that has to be inserted into the content.

Issue fixed in V1.13.0, which will be published soon.

[2021-09-22 18:04] #89 closed

[2021-09-23 22:17] kagg-design commented on #107
Support for WooCommerce Order Tracking form added in v1.13.0, which will be published soon.

[2021-09-23 22:17] #107 closed

[2021-09-23 22:18] kagg-design commented on #113
Fixed in v.1.13.0, which will be published soon.

[2021-09-23 22:18] #113 closed

[2021-09-23 22:20] kagg-design commented on #105
Elementor Pro forms support added in v1.13.0. We will publish it at the end of September.

[2021-09-23 22:20] #105 closed

[2021-09-23 22:24] kagg-design commented on #83
@wiwi-websolutions @pwnoobz @ForNesiaFreak @Peter9936 can you confirm the issue with the latest version of our plugin? If yes, how can I reproduce it - step by step?

[2021-09-23 22:25] kagg-design commented on #71
Added in v1.13.0, will be released at the end of September.

[2021-09-23 22:25] #71 closed

[2021-09-23 22:26] kagg-design commented on #20
Added in v1.12.0, published.

[2021-09-23 22:26] #20 closed

[2021-09-23 22:26] kagg-design commented on #30
Added in v1.1.30, will be released at the end of September.

[2021-09-23 22:26] #30 closed

[2021-09-23 22:30] kagg-design commented on #55
Closed as non-reproducible.

[2021-09-23 22:30] #55 closed

[2021-09-24 05:33] Player701 commented on #113
Thanks!

[2021-09-24 07:50] kagg-design commented on #58
I have checked the idea, it is not consistent. Anyway, the result of the captcha MUST be checked on the backend, and we do the same. In which order to check on the backend, user first or captcha first - does not matter.

You can use, however, the recently introduced invisible hCaptcha, which shows the challenge (pictures) by JS upon the attempt of sending the login form. It does not load the serve

[2021-09-24 07:50] #58 closed

[2021-09-24 10:17] kagg-design commented on #42
Added to V1.13.0, will be published at the end of September.

[2021-09-24 10:17] #42 closed

[2021-09-24 19:11] kagg-design commented on #64
Included in V1.13.0, will be published at the end of September.

[2021-09-24 19:11] #64 closed

[2021-09-24 23:50] pwnoobz commented on #83
Well, after I updated a bunch of things and worked on my server caching it's working as intended. Thanks for following this disccusion. I love your work with that plugin. It saves me from the nasty spam! Please make a donation option more obvious on the backend for the people who want to donat but not a pop up that will flash in our faces. Thanks again!

[2021-09-25 07:11] kagg-design commented on #83
@pwnoobz Thank you for your kind words. We are happy to bring value to our users.

[2021-09-25 07:11] #83 closed

[2021-09-27 09:39] kagg-design commented on #57
@gitmko0 It was extremely difficult. Divi has a not-extendable code, without any hooks allowing 3rd parties to modify the form. Moreover, the theme controls the content of the form and compares it to what was created by its own PHP code. I had to spend hours debugging and invent several tricks to circumvent all of that hurdles.

[2021-09-27 09:42] kagg-design commented on #57
@gitmko0 @1clapmac @MaelImhof @seamive We have done it in V1.13.0, which will be published in a few days.

[2021-09-27 09:42] #57 closed

[2021-09-27 09:43] kagg-design commented on #32
@wuniversales @naharronak We have done it in V1.13.0, which will be published in a few days.

[2021-09-27 09:43] #32 closed

[2021-09-27 09:43] kagg-design commented on #91
@naharronak We have done it in V1.13.0, which will be published in a few days.

[2021-09-27 09:43] #91 closed

[2021-09-27 14:34] 1clapmac commented on #57
I don't know if that would help you, but I have found a solution to have hCaptcha work in Divi for WP with Form7  :
1. open a hcaptcha account
2. install "**hCaptcha extension WP**"
3. check box "open with form 7" in settings
4. enter key and secret key
5. install **Contact Form 7 WP** and activate extension Contact Form 7
6. THEN install **Contact Form 7 Styler for Divi** (don't make subscription

[2021-09-27 14:51] kagg-design commented on #57
@1clapmac we are not interested in offering our users to install two additional plugins (CF7 and CF7 styler) just to be able to send a contact form from Divi. Also, your solution is based on using Contact Form 7.

Here, in this thread, we discussed the ability to use the native Divi Contact Form module.

It works now in the latest V1.13.0, published today.

[2021-10-02 06:45] TheSloPro opened #115 "hCaptcha corrupts elementor pro"
so when I try to integrate hcaptcha into elementor pro and try to edit a form, the editing menu doest even show. I tried lots of things so dont tell me to refresh the page or reinstall the plugin...

[2021-10-02 06:46] TheSloPro commented on #115
![image](https://user-images.githubusercontent.com/37777261/135706609-4e226216-5e49-4eeb-9502-1c835d3603ef.png)

[2021-10-02 06:46] TheSloPro commented on #115
should look like this:
![image](https://user-images.githubusercontent.com/37777261/135706615-ece0bfc2-d3c2-474f-a674-c65eb31175a2.png)

[2021-10-08 19:25] seamive commented on #57
So it's working fine with Divi builder with v1.13.0?

[2021-10-12 05:02] h3k opened #116 "Cannot login through WordPress App"
When the hcaptcha is enabled on the Login WordPress form there is an issue where you cannot Login through the app. The issue is easy to reproduce. Just enable hCaptcha protection on Login form, download the mobile app of WordPress and try to login with your existing credentials. You will notice an error which is showing NETWORK_ERROR when you try to login.

[2021-10-13 15:46] #116 closed

[2021-10-15 09:36] Rik44444 opened #118 "hcaptcha being cut off on mobile"
hi,
thanks for developing hcaptcha!
this is to report in conjunction with Contact Form 7 for Wordpress, it does not look great on mobile (see image), it's being cut off
Ri
![hcap](https://user-images.githubusercontent.com/42555414/137466579-15066341-8c0a-4a43-809f-949f645e83a8.png)
k

[2021-10-22 19:32] pjv opened #119 "Broken WooCommerce order tracking page"
@kagg-design v. 1.13.1 breaks order tracking on a site I manage. I have created a test order on the site and I am emailing you the link and order number to the email in your github profile. Can you tell from the page source why the hCaptcha is not rendering and why the page errors with "please complete the captcha"?

Currently I have the tracking page option checked:
![2021-10-22 at 2 29 PM](https

[2021-10-23 07:00] khizer253 opened #120 "Request: Everest Forms plugin support"
Hcaptcha integration for everst form on wordpress + php code for hcaptcha

[2021-10-23 11:23] #118 closed, assigned to nobody

[2021-10-26 17:55] n-kort opened #122 "Usage with WP API"
I'm using [hCaptcha/vue-hcaptcha](https://github.com/hCaptcha/vue-hcaptcha) and posting form data (including `h-captcha-response`) to `/wp-json/wp/v2/comments`. Always responds with 400 'Invalid Captcha' though. Any pointers as to how (or whether) this should work?

I've tried generating and including a `hcaptcha_nonce` or `hcaptcha_comment_form_nonce` but to no avail...

The captcha works fine on

[2021-10-28 12:00] mn-martin opened #123 "Add Support for Avada WordPress Theme / Website Builder"
Hello,

please consider adding support for [Avada WordPress Theme / Website Builder (740,752 sales)](https://themeforest.net/item/avada-responsive-multipurpose-theme/2833226).

[2021-10-29 05:54] khizer253 opened #124 "Hcaptcha not working"
Hcaptcha not working in contact form 7 wordpress its show error invalid captcha
![image](https://user-images.githubusercontent.com/80098275/139383805-7b7e891d-414e-40a0-a728-50823d94a326.png)

[2021-10-30 01:18] e271828- commented on #122
Hmm, seems likely to be nonce-related. Did you take a look at your backend logs?

[2021-11-05 10:28] n-kort commented on #122
I didn't look at this again but yes, that is most likely the case :) I was returning the nonce from a custom endpoint but the user is always `0` in that context, so it will not (and probably shouldn't) work in that case.

[2021-11-05 10:28] #122 closed

[2021-11-08 00:56] pBrambi opened #125 "Fatal Error with Elementor 3.5.0 update"
Hello,

pretty urgent I think. Elementor 3.5.0 was release a 2 days ago, and 4 sites, which I have hCaptcha plugin activated for "Elementor Pro Forms" are getting "Fatal Error".

No output, just the Wordpres "A fatal error occured on this website" message.

When I delete the plugin from FTP, site works. When re-activating, again fatal error.

Tried on new site with just Elementor Pro and hCaptcha

[2021-11-08 12:41] CatieGit opened #126 "hcaptcha/ contact form 7 on wordpress not working"
hello, on the settings of hcaptcha Plugin in wordpress Setup I checked the integration for contact form7. I havent found any other setting to integrate hcaptcha to contact form 7... my hcaptcha is working on login page, but not on my forms... can you help?

https://alpha4u-bildung.de/kontakt/

[2021-11-10 05:36] Jumper34 opened #127 "hCaptcha not working anymore since update"
Hi,

since about mid-October the hcaptcha wordpress plugin seems to have a conflict with my other plugin: https://marketplace.appthemes.com/plugins/confirm-email/

All worked fine until then. Now the invisible hcaptcha is asking to pick the pictures and then after it was passed, the confirmation email is not send to users anymore. Thus they can not register to my site.
It might be the WP update or

[2021-11-14 18:17] kagg-design commented on #127
Hi Chris,

I cannot check the case as I do not have this premium plugin. You can send its zip file to my email.

Additionally, please describe the scenario - which steps should I follow from an empty WP site to see the problem?

Thank you.

[2021-11-14 18:33] kagg-design commented on #126
This is because your theme (Qode?) modifies the CF7 form. Edit the CF7 form manually in the admin and insert into it the following shortcode:

`[cf7-hcaptcha]`

[2021-11-14 18:33] #126 closed

[2021-11-14 18:55] kagg-design commented on #125
Fixed in V1.13.2, will be published in a few days.

[2021-11-14 18:55] #125 closed

[2021-11-14 19:31] kagg-design commented on #119
I have tried to fix it without testing on your site, but it should work in 1.13.2. We will release it in a few days. Please let me know.

[2021-11-14 19:38] kagg-design commented on #124
Please find out what kind of conflict do you have. Deactivate all plugins except CF7 and Captcha, change your theme to standard.

Without it, I don't know how to help.

[2021-11-14 23:25] kagg-design commented on #125
1.13.2 is just published, please use it.

[2021-11-14 23:30] kagg-design commented on #119
1.13.2 is released.

[2021-11-15 12:10] pjv commented on #119
1.13.2 does not fix the issue on our site.

If you take a look at the source of the tracking page here: https://breadtopia.com/track-order/ you will see that our theme is rendering several hidden forms on the page which allow the user to login or register in a “popup”. It seems that the hcaptcha plugin is getting confused about which form is visible and is rendering the captcha inside one of the i

[2021-11-15 13:07] kagg-design commented on #119
Please provide me with the sequence of the steps how to reproduce your issue on the fresh WP site: which theme, plugins I have to install (a minimal set). If you have premium plugins or the theme involved, I need .zip files, please send them by email.

[2021-11-15 13:14] e271828- commented on #119
@pjv aside: big fan of breadtopia :)

[2021-11-15 13:23] pjv commented on #119
@kagg-design

I did email you a zip with our custom theme on 10/23. I will set up a fresh, vanilla testing platform and confirm whether another plugin is involved. Likely I will find the issue myself in that context and submit a PR. If I cannot, then I will detail the steps to set up the same minimal config.

[2021-11-15 15:34] pjv commented on #119
@kagg-design

Two things:

1. (relatively unimportant) I was able to get the hcaptcha to render on the tracking page on my site by making a small adjustment to a regex in `src/php/WC/OrderTracking.php`.

does not work: ...`|<p class="form-actions">[\S\s]+?<button type="submit")/i`

works: `...|<p class="form-actions"><button type="submit")/i`

2. (more important) With a plain vanilla wordpress v.

[2021-11-16 15:23] pjv commented on #119
Digging through the source code and tracing execution on my test environment, it looks like function `hcaptcha_request_verify` in `/src/php/includes/common/request.php` is returning `empty` because there is no HCAPTCHA_NONCE (const is set to 'hcaptcha_nonce') nonce being set in the form on the order tracking page. The only nonce I see in the form on that page is called `woocommerce-order-tracking-

[2021-11-16 15:57] pjv commented on #119
I submitted a fix for this issue in PR #129.

[2021-11-16 23:03] canyon1991 opened #130 "hCaptcha causing "Invalid Login Credentials""
hCaptcha is causing "Invalid Login Credentials" on the WordPress login page.

When the plugin is active, I cannot login using my login details. Once disabled, the same login details work fine.

Website Info:
WordPress (Version 5.8)
PHP (Version 7.4.25)
WooCommerce (Version 5.7.0)
All in One WP Security (Version 4.4.9)
WPBakery Page Builder	(Version 6.7.0)
hCaptcha for Forms and More (Version 1.13.

[2021-12-06 17:10] JosephMDavis opened #131 "Safari issue with hcaptcha.js, unexpected token"
Running WP 5.8.2 and "hCaptcha for Forms and More" 1.13.2.

Getting "SyntaxError: Unexpected token '='. Expected an opening '(' before a method's parameter list" when Safari loads hcaptcha.js, line 40.

Seems that Safari < 14.1 doesn't support "public field declarations".

This prevents hcaptcha from loading and the user is given errors that they need to complete the captcha, which they don't see.

[2021-12-06 19:35] e271828- commented on #131
@kagg-design I think this JS should be babel'd to ES5 at build, rather than included directly in the assets dir. Looks like it's using arrow functions etc.

[2021-12-13 02:52] Shail92 opened #132 "Plugin is not getting activate"
Hello Team,

On activating the plugin it shows the error as shown in the below screen.

![image](https://user-images.githubusercontent.com/96033642/145744935-1c3e2528-4489-43c7-9633-20f3808cf7d4.png)

[2021-12-17 00:35] e271828- commented on #132
Got any more details? Does this happen on a clean install?

[2021-12-21 02:11] Shail92 commented on #132
Hello Team,

Yes, It's happing with a clean installation, We have never used it before, I did the clean installation on activating we are getting errors.

Note: Tired on multiple sites in all had same issues.

[2021-12-21 03:27] e271828- commented on #132
@Shail92 which WP version is this?

[2021-12-24 02:25] Shail92 commented on #132
@e271828- I can confirm that the site which I tried is all above 4.8 versions. The issue comes when I try to activate the plugin.

[2021-12-24 06:06] e271828- commented on #132
@Shail92 just to confirm, by "clean install" you mean there are no other plugins installed? If so, cannot reproduce. Please attach the server logs and exact WP version.

[2021-12-24 10:06] heiheiheihei9 opened #133 "Possibility to show hcaptcha only after certain times of failed login?"
Hello, It is possible to show the hcaptcha only after certain times of failed login in order to prevent the bots, but at the same time not to make the login inconvenient?

[2021-12-24 10:10] heiheiheihei9 opened #134 "Hcaptcha only for admin login not for woocommerce login"
Hello, it is possible to apply hcaptcha only in the wordpress admin login, but not to woocommerce login form? Because in the current version, if I activate "LOGIN", also on the woocommerce login form the hcaptcha is loaded

[2021-12-27 03:59] Shail92 commented on #132
@e271828- no I tried to install it on the live site with another plugin that is enabled.

[2021-12-27 19:36] e271828- commented on #132
OK, which plugin was that?

[2021-12-30 02:02] coldxot opened #135 "hCaptcha not working w/ Elementor Forms"
Been having an issue where my form widget editor is completely grayed out. As with any issue I went through and deactivated each plugin one by one and it seems this only occurs with this plugin active.

Also tried on a fresh install website w/ nothing but Elementor +Pro, Hello Elementor Theme, and this plugin. Error occurred immediately.

[2022-01-03 13:50] diana311929 opened #136 "Buna"

[2022-01-03 18:04] RupW commented on #136
Hi - I don't understand, sorry. Do you have a problem with the hCaptcha plugin? Can you give us some more details?

[2022-01-04 03:07] e271828- commented on #136
Closing pending more details.

[2022-01-04 03:07] #136 closed

[2022-01-07 10:00] Shail92 commented on #132
I have tried 4-5 sites in all I had different plugins so, I can't remember all the plugins.

[2022-01-09 11:55] kagg-design commented on #119
As I wrote in the PR, I have fixed this by `[\S\s]+?`. Thank you,

[2022-01-09 11:56] kagg-design commented on #119
I cannot reproduce it. Can you give me access to your test environment?

[2022-01-09 12:20] kagg-design commented on #119
Thank you, you are right. I have added the hCaptcha nonce.

[2022-01-09 12:20] #119 closed

[2022-01-09 13:00] kagg-design commented on #52
Thank you for the PR!

The problem was here: you had to replace `hcaptcha_fluent_status` with `hcaptcha_fluent_status`, as it is the option name.

Please see [this commit](https://github.com/hCaptcha/hcaptcha-wordpress-plugin/pull/138/commits/a2d4f523e93d01a18e69243789c4ad69e4e271ee).

Please also check the [code cleanup](https://github.com/hCaptcha/hcaptcha-wordpress-plugin/pull/138/commits/18871

[2022-01-09 19:12] kagg-design commented on #52
Published in 1.13.3

[2022-01-09 19:12] #52 closed

[2022-01-15 16:20] kagg-design commented on #135
@coldxot As I have answered on the wp.org https://wordpress.org/support/topic/hcaptcha-not-working-w-elementor-forms/#post-15255095, I cannot reproduce the issue. Could you send me .zip archive of the empty site, on which you see the bug?

Thank you.

[2022-01-15 17:52] kagg-design commented on #134
Thank you for reporting. I have fixed this bug in v1.13.4. It will be published soon.

[2022-01-15 17:52] #134 closed

[2022-01-15 17:57] kagg-design commented on #132
You tried to use the plugin version from GitHub (see the directory name on your screenshot). Upon downloading from GitHub, you have to run `composer install`, as README.md says.

I'd rather recommend downloading the plugin from wp.org: https://wordpress.org/plugins/hcaptcha-for-forms-and-more/

[2022-01-15 17:57] #132 closed

[2022-01-16 14:17] kagg-design commented on #131
@e271828- Yes, the reason is the usage of arrow functions. Webpack + babel added.

@JosephMDavis Fixed in v1.13.4; it will be released soon.

[2022-01-16 14:17] #131 closed

[2022-01-16 14:28] kagg-design commented on #130
I cannot reproduce the issue, with the same plugins. Could you try to find out the minimal set of plugins + standard theme and describe steps I have to do to reproduce?

Thank you.

[2022-01-16 14:28] #130 closed

[2022-01-16 14:33] kagg-design commented on #133
Please do not create PR just to attract attention. I have seen your current issue here and on wp.org. However, I have no time right now to implement it.

PR from you with the proposed code of this feature is welcome.

[2022-01-16 14:35] #127 closed

[2022-01-16 14:35] #124 closed

[2022-01-16 14:36] #104 closed

[2022-01-16 14:46] kagg-design opened #140 "hCaptcha on Divi Login Form"
Is it possible to integrate hCaptcha also into the Divi Login module as it was integrated into Divi Contact Form?

https://www.elegantthemes.com/documentation/divi/login/

[2022-01-16 15:17] FriendlyGremlin commented on #135
Hello,
Unfortunately, I am faced with the same issue. I don't know if it's helpful (not really good at coding or webpages), but the console on edge, when clicking on the form to edit it, produces the attached errors: [error message.txt](https://github.com/hCaptcha/hcaptcha-wordpress-plugin/files/7877218/error.message.txt)
The error only occurs when "Enable hCaptcha on Elementor Pro Form" is activa

[2022-01-16 16:46] kagg-design commented on #135
I tried to reproduce the problem with Edge - no luck. WP 5.8.3, Elementor v3.5.3 and Elementor Pro v3.5.2, hCaptcha 1.13.3, standard 2021 theme.

Could you create a test site, on which I can see the bug and send a DB copy to me?

Thank you.

[2022-01-16 20:39] FriendlyGremlin commented on #135
Thanks for your efforts. Unfortunately, creating a full test site and exporting the DB are beyond my abilities, unless there's an easy guide to follow along somewhere?

For what it's worth, my setup is the same as yours, except my version of hCaptcha is 1.13.4.2 instead of 1.13.3. Also, the bug appears even when disabling all other plugins aside from hCaptcha, Elementor and Elementor Pro, and is p

[2022-01-17 07:12] kagg-design commented on #135
I have tested with the latest version of hCaptcha, of course. What browser in which version do you use? Can you provide a link to your site?

[2022-01-18 09:56] kagg-design commented on #140
Done in v1.14.0, will be released soon.

[2022-01-18 09:56] #140 closed

[2022-01-21 08:42] thomasdiesenreiter opened #142 "Integration for wp-signup.php / multisite support"
We run a multisite installation with about 10 websites. We activated the plugin network wide, but sadly we have to configure it on every website individually. it would be great if a network wide activation would allow you to configure it network wide as well.
Furthermore our main problem is bots trying to sign up via the wp-signup.php page, for which the plugin currently doesn't work as well. It w

[2022-01-25 04:07] Jizzbits opened #144 "Login - Register Not working with Essential Addons for Elementor"
I'm using Essential Addons for Elementor for my customer login. Hcaptcha does not show on any forms other than the main Wordpress Admin Login. What's more interesting is when I try to login, it fails. I'm thinking this is due to not having solved the hCaptcha which isn't showing up. I have selected what I believe are the appropriate settings in hCaptcha and can provide screenshots upon request. At

[2022-01-25 15:43] AKSpalva commented on #135
Hi there,

I have the same problem on my website. The affected site is the form at https://akspalva.com/contact/

I'm also not sure how to create a copy of the website for you; I'm still pretty new at web design and wordpress. I also don't have all the steps I took to make it. However, I could create an editor user for you and provide you the credentials through some private channel. Let me know i

[2022-01-25 18:12] hcuk94 commented on #123
Would also be keen to see this, Avada has a forms module which would benefit from easy integration with hCaptcha.

[2022-01-26 15:17] bansyb opened #145 "hCaptcha not showing in Contact Form 7"
I registered at hCaptcha, installed it in WP and entered my site key & secret key. I enabled the check for contact form 7 but nothing is showing. Did the same thing at 3 different websites and one out of three is working. Do you know where the problem could be?
This is one affected site: https://www.harmless-project.eu/contact/
Thanks

[2022-01-27 08:19] #145 closed

[2022-01-28 01:55] PrachiBR opened #146 "hCaptcha not working - Contact form 7"
I have integrated hCaptcha on one of our site, Its working everywhere else but not for the contact form 7.

[2022-01-31 18:12] skellenb commented on #135
when commenting lines 69-74 in /src/php/ElementorPro/HCaptchaHandler.php then it might work

[2022-02-05 09:12] AKSpalva commented on #135
This did work in restoring functionality, but unfortunately, I don't see a way to add hCaptcha to the form now (nothing about the Elementor Pro settings has changed, from what I can see). Unless I'm missing something?

[2022-02-13 13:58] kagg-design commented on #146
Please provide more details: versions of WP, PHP, plugins, theme and video showing the issue.

Otherwise, it is impossible to help.

Thank you.

[2022-02-13 14:04] kagg-design commented on #144
We do not support Essential Addons so far. To understand the issue, I need info on all versions: WP, Elementor, Essential, hCaptcha, theme. It would be good to see the video with what you are doing. We can include the issue in our plan, but I cannot say when.

I will need a copy of the Essential plugin later to debug the issue.

Thank you.

[2022-02-15 15:45] patrixstar opened #148 "When submit hcaptcha not showing any error"
Hello guys,

i wonder where may i be stuck. When i submit my form (via cf7 in wp) without hcaptcha solved, i am expecting any error/warning response like shown in hcaptcha demo but i am not getting any. Like "you didn't solve captcha correctly" or sth like that. Any suggestions? Do i have to do some coding or setting any css?

Expected behavior:
![image](https://user-images.githubusercontent.com/3

[2022-02-17 10:34] Kimitri opened #149 "hCaptcha + Ninja Forms: submissions of multiple forms on single page cause hCaptcha validation failures"
When a page includes multiple NF forms only the first submission is validated correctly. After the first submission all submissions fail CAPTCHA validation. I believe this is caused by the fact that all NF forms on the page contain the same hCaptcha nonce.

[2022-02-23 10:59] mbhzpi commented on #104
I also need the support for Jetengine Forms.
What do you mean with "provide a copy for testing", we should send you the package?

[2022-02-24 11:57] mbhzpi opened #150 "JetEngine Forms Support?"
Hi,

I use the wordpress plugin "JetEngine", but there is no option to show the hCaptcha on a JetEngine Form. How can I integrate the hCaptcha-Tool into a JetEngine Form? Do you support this plugin?

Kind regards
Matthias

[2022-03-02 11:59] nspnaw opened #151 "WPForms with hcaptcha - form not submitted"
We have been using the WPForms plugin in our Wordpress environment (theme: Enfold) for some time now. Due to spam we would like to use hcaptcha. We have installed the plugin and configured it as in the descriptions. All keys are inserted correctly. The captcha is displayed correctly in the form, but the form cannot be submitted. It says "sending" but nothing happens. In the devTools the following

[2022-03-03 12:08] #151 closed

[2022-03-18 15:17] pilotofsky commented on #146
I get this error when added hCaptcha in Contact form 7. I have no idea why it is doing that can you please help?

![image](https://user-images.githubusercontent.com/68122496/159030426-3d8caeb2-eeac-4faf-9882-436d8e1bc3a9.png)

[2022-03-21 14:25] dhalucario opened #152 "Remove <br> when WPCF7_AUTOP is set to false"
When creating a contact form in WPCF7 using hcaptcha it adds a `<br>` before the submit button.
This should not happen when WPCF7_AUTOP is set to false.

[2022-03-23 09:02] sertys3 opened #153 "Feature request : IP whitelisting"
Thanks to community for the wonderful work so far.
I would like to submit this FR as it is instrumental to many organizations/enterprises. Having whitelisting for certain IPs would be great in terms of usability for deployments that have daily users. It would be great to have a whitelist configuration in the plugin as to bypass captcha for certain IPs.

Regards,
Daniel

[2022-04-09 05:04] rontech2020 opened #154 "Fatal Error with WordPress 5.6.2"
Hello,

pretty urgent I think.

I have on 35 websites the hcapcha plugin, but it won't let me do it as it tells me there is this error: The plugin cannot be activated because it generates a fatal error.

You too from this problem?

How can I fix?

[2022-04-09 14:05] e271828- commented on #154
@rontech2020 Do you have any more details on how to reproduce this, e.g. other plugins installed?

I've tried just now on a clean 5.6.2 instance via Docker, and then enabled hCaptcha on some of the native pages like forgot password. Everything worked normally.

docker-compose.yml:

[code]

[2022-04-10 14:10] rontech2020 commented on #154
I don't know what the problem could be.
The error is this exact:

Warning: require_once(/home/rontechx/domains/dotteugeniobruni.it/public_html/wp-content/plugins/hcaptcha-wordpress-plugin-master/vendor/autoload.php): failed to open stream: No such file or directory in /home/rontechx/domains/dotteugeniobruni.it/public_html/wp-content/plugins/hcaptcha-wordpress-plugin-master/hcaptcha.php on line 71

[2022-04-11 01:41] e271828- commented on #154
@rontech2020 this is going to be something related to your local environment, e.g. a conflict with another plugin or some change vs. the standard WP settings.

What else is installed? Have you perhaps locked down filesystem access in some non-default way?

[2022-04-11 08:01] rontech2020 commented on #154
Fortunately, the seller's card doesn't exist.

How to install the plug-in directly from the store and how to fix it.

[2022-04-11 08:01] #154 closed

[2022-04-11 08:02] rontech2020 opened #155 "Ultimate Member"
Compatibility with Ultimate Member.

I wanted to know if it was possible to add hcapcha in Ultimate Member in any way in order to verify people at login and registration.

[2022-04-17 13:03] kagg-design commented on #148
I cannot confirm this issue. It could be that REST is disabled on your site or something else creates the problem. To help, I need more information, including console and log file errors.

[2022-04-17 13:03] #148 closed

[2022-04-17 13:55] kagg-design commented on #135
Closed as non-reproducible.

[2022-04-17 14:03] kagg-design commented on #146
Closed as non-reproducible.

[2022-04-17 14:03] #146 closed

[2022-04-17 14:18] kagg-design commented on #144
Closed as non-reproducible.

[2022-04-17 14:18] #144 closed

[2022-04-17 14:22] kagg-design commented on #150
We do not support JetEngine. This is a premium plugin, and you can ask the producer for support.

Or, you can share the copy of JetEngine with us, but we cannot guarantee when we can make the integration. We have a lot of similar requests.

[2022-04-17 14:32] kagg-design commented on #152
Without `<br>`, the form will look like that

![image](https://user-images.githubusercontent.com/28291450/163719120-2a0bfe6c-8b74-49cf-a9b4-35d3addb186b.png)

At any time, you can filter the form and remove `br`

[code]

[2022-04-17 14:33] #152 closed

[2022-04-17 19:11] kagg-design opened #156 "Formiddable Form builder support"
https://wordpress.org/support/topic/integration-formidable-form-builder/

[2022-04-17 19:13] kagg-design opened #157 "SendinBlue support"
https://wordpress.org/support/topic/support-of-sendinblue-would-be-great/

[2022-04-17 19:15] kagg-design commented on #153
Done in v1.15.0. You can get it from the branch or wait for the release on wp.org, which we will make soon.

[2022-04-17 19:15] #153 closed

[2022-04-18 08:44] kagg-design opened #158 "Simple Basic Contact From support"
https://wordpress.org/support/topic/integrate-with-simple-basic-contact-form/

[2022-04-18 10:25] kagg-design commented on #149
Fixed in v1.15.0, will be released soon on wp.org.

[2022-04-18 10:25] #149 closed

[2022-04-18 15:33] kagg-design commented on #49
Gravity Forms support was added in v1.15.0 and will be published soon.

[2022-04-18 15:33] #49 closed

[2022-04-20 08:55] dhalucario commented on #152
Hello @kagg-design,

to my understanding this is kind of the point? wpautop causes newlines to be converted to br's and p's respectively. Usually when disabling wpautop using `WPCF7_AUTOP`  the intent of the user is for these to be not output. It'd make more sense to put a new line after the hcaptcha so wpautop creates it when needed. I am aware that there is a filter but that's not why I created

[2022-04-26 10:48] dhalucario commented on #152
@kagg-design Would you be kind enough to reopen this issue?

[2022-04-28 19:20] aaronware opened #160 "Challenges with popular form integrations"
The plugin has the opinion that the hCaptcha field should be added to ALL forms if enabled. But that isn't always the intended use case. I know you are trying to support a lot of different popular form plugins. For Gravity Forms for example. The hCaptcha should be treated like a Gravity Forms field. OR at minimum there should be some sort of filter available for developers to show or hide accordin

[2022-04-28 19:28] aaronware opened #161 "Integration: Gravity Forms : hCaptcha "Field" is not required or tied into submission"
This allows the recaptcha by default to be skipped from the front end as well as the backend (If there is any sort of configuration for that similar to reCaptcha)

[2022-04-28 19:33] aaronware commented on #161
I am not affiliated with this plugin nor do I vouch for any sort of coding standards within it but this looks like they have done a lot of the leg work for proper integration with gravity forms as was mentioned in #49. May be worth reaching out to that developer to merge these 2 plugins into 1?

[2022-04-28 20:33] e271828- commented on #160
Sure, PRs always welcome.

[2022-04-29 08:07] kagg-design commented on #152
I do not understand the issue - can you show me the broken form? What happens with/without wpautop?

[2022-05-02 08:07] joostdekeijzer commented on #93
I've created a private plugin with some changes I need for the hCaptcha plugin, including setting constants in wp-config. See https://gitlab.com/dkzr-wordpress/plugins/dkzr-hcaptcha-enhancements

I can create a pull request to do something simular. I do itch to convert the hCaptcha settings screen to the WordPress Settings API (https://developer.wordpress.org/plugins/settings/settings-api/). Is th

[2022-05-09 21:50] miguelurtado commented on #142
Great integration.

[2022-05-12 14:17] danypu opened #162 "elementor pro (3.7.0) with hCaptcha (1.15.0)"
Hi Team,

I will use the hcaptcha plugin with elementor pro but I can’t chose it in the Formfields, it is still not listed.
It docent work before and after the latest update of hcapture and elementor and Wordpress.
I have insered the Site and Secret Key
I activated in the prev panel:
- Turn off when logged in
- Enable hCaptcha on Elementor Pro Form

What can I do?
Chers, Daniel

Setting:
Elementor

[2022-05-15 14:26] TidyBowlMan opened #163 "support@hCaptcha sent me here"
Hello there,

I was wondering if there was a simple CSS fix to changing the color of the hCaptcha button? This is my site and I want to make the color of the checkbox a little darker and the entire button itself the same color as the input fields you see there now. Can you point me in the proper direction. Usually i would use developer tools but the css is an element/inline so I can't seem to grab

[2022-05-22 13:58] kagg-design commented on #163
Unfortunately, the WordPress plugin cannot change the colour of the button. It is formed in the iframe by the js code from the hcaptcha.com website. All that you can do with the plugin, is to switch the theme from light to dark. You can do it on the plugin settings page.

More precisely selection of the button colour requires changes in the js code on hcaptcha.com. So, you should address your requ

[2022-05-22 13:58] #163 closed

[2022-05-22 14:06] kagg-design commented on #162
I cannot reproduce it - it is listed

![image](https://user-images.githubusercontent.com/28291450/169699108-c66a7db7-4067-41f1-94f1-fc53353adf51.png)

[2022-05-22 14:34] kagg-design commented on #161
Closed as non-reproducible.

[2022-05-22 14:34] #161 closed

[2022-06-08 13:15] Hammadr097 opened #165 "Validation Issue on Contact Form 7 (4.1.1)"
Form input is considered spam when integrating with Contact Form 7 (4.1.1)

[2022-06-12 18:07] MBNChannel opened #166 "HI i did all the steps to setup hcaptcha but doesn't' work"
HI i did all the steps to setup hcaptcha but doesn't' work.
![unnamed](https://user-images.githubusercontent.com/107365459/173247043-92af5c93-fe32-435a-8db5-b0992e8ec7e8.png)
![unnamed (2)](https://user-images.githubusercontent.com/107365459/173247052-309938b5-c912-403c-a58d-9d038f1d5d48.png)
![unnamed (1)](https://user-images.githubusercontent.com/107365459/173247058-c88cf0e2-8e92-44dd-aafa-ba4fe

[2022-06-13 12:20] e271828- commented on #166
@MBNChannel looks like this is with the WPForms native hCaptcha integration, so you should open a ticket with their support.

[2022-06-13 12:20] #166 closed

[2022-06-23 23:04] sonalvrioss-svyatos opened #168 "Please add support to Wordpress post/page password-protect"
Hi, is it possible to add hcaptcha to Wordpress post/page password-protect? I would like to restrict some posts/pages with the password-protect function but can't find any hcaptcha-enabled plugins to provide additional security. Thanks in advance.

[2022-06-25 19:35] samsebree opened #169 "wc_add_notice in woocommerce checkout provoking incorrect "The Captcha is invalid." error message"
I have integrated this plugin and put it in front of our woocommerce checkout.
All is going generally well, but I am experiencing an issue. Here are the steps to repro:

1. Navigate to checkout page, fill out all checkout fields and complete the hCaptcha
2. Click "place order" and the checkout page will stop the checkout by throwing a wc_add_notice() error. This can be provoked in a number of ways

[2022-06-29 02:39] samsebree commented on #169
Sorry to be a pest with this. @e271828- Were you able to repro this bug on your end?
Please let me know if there is anything I can do to help resolve this.

[2022-06-30 14:52] MarkWest2017 opened #170 "Elementor Pro (3.7.2) with hCaptcha (1.16.0)"
Hi,
Similar to this issue: https://github.com/hCaptcha/hcaptcha-wordpress-plugin/issues/162

I do not see hCaptcha available to select in form fields.

![Screenshot_237](https://user-images.githubusercontent.com/25922969/176708621-c8d0a4d2-5c7f-49dd-9122-5f5cb6ddcd72.jpg)

WP: 6.0
Elementor: 3.6.6
EPro: 3.7.2
hCaptcha 1.16.0

Thanks for your help.
Kind Regards
Mark

[2022-07-21 19:46] ghost opened #172 "Not receiving emails from form and hcaptcha endless spinning"
Why aren't I receiving emails from the form WPForm? hcaptcha also spins forever when I hit submit form on tests.

Thank you!

[2022-07-21 23:32] e271828- commented on #172
Hi, got an example URL for this, or a way to reproduce?

[2022-07-22 13:40] MarkWest2017 commented on #170
Hi,
I'd really appreciate an update on this please.
I see someone else had logged a similar issue, that you were unable to replicate.
I'd be happy to perform fault-finding/debugging as I seem to be experiencing the same issue - no hCaptcha widget is showing as available to add to the EPro form.
Thanks
Mark

[2022-07-22 15:29] MarkWest2017 commented on #170
Hi,
To add a little more detail - I've tried this plugin on a different site - same WP/Elementor/EPro version and it seems to work (shows hCaptcha widget in Form builder).
So, on the site where it's not working I've disabled all plugins apart from Elementor/Elementor Pro and hCaptcha - still doesn't work.
On the site where it works I'm using Astra Pro theme,  on the site where it doesn't I'm using

[2022-07-22 16:12] MarkWest2017 commented on #170
Hi,
Ok, so built a completely fresh new WP install - 6.0.1, Elementor 3.6.7 and EPro 3.7.2 - so, exactly the same versions as the sites that do/don't work.
On this simple build I can't get it to work with either Kadence or Astra :/ - when I click to edit the form (I built before adding the hCaptcha plugin) I just get a grey left sidebar - image attached with either theme enabled.  This is the same

[2022-07-23 15:32] e271828- commented on #93
@joostdekeijzer certainly, Settings API would be a reasonable change. Please open a PR against this repo with any changes you'd like to see. Most of them do get merged in some form.

[2022-07-25 09:46] hollen9 commented on #168
You dev team are great!
I also want this feature so bad. 👀

[2022-07-25 10:40] e271828- commented on #172
Also, @BrianT777 are you using the WPForms native hCaptcha support, or this plugin?

[2022-07-25 10:54] e271828- opened #174 "Move to WP Settings API"
This is mainly refactoring, but will have some risk due to the # of changes.

[2022-08-07 00:28] pk385 commented on #160
Coming back to this after looking at it and thinking about it for a while, I can't come up with a more universal solution that will work for more form plugins. I think using either a CSS class or ID on the form or form element(s) as a flag to decide when to inject the captcha is probably the easiest to implement and would work with the majority of forms. Using shortcodes is the more "wordpress" so

[2022-08-12 23:24] bukerfly opened #175 "integration with Mail Poet"
Hi, thank you for a nice and useable plugin. It'd be better if you could integrate it with Mail Poet as well. Looking forward.

[2022-08-13 22:17] rinart73 opened #176 "hCaptcha adds invalid inline CSS"
The following CSS is incorrect because in CSS we can’t have nested elements like that (maybe you had SCSS but forgot to convert?). It results in CSS and HTML validation issues:
[code]
https://github.com/hCaptcha/hcaptcha-wordpress-plugin/blob/05803abad6c9222d5712996a3794a34423557fb4/src/php/Main.php#L134

[2022-08-18 14:04] Eastbourneshutters opened #177 "Form keeps hanging / spinning circle after submitting"
Hi, i have installed hcaptcha on my wordpress website https://eastbourneshutters.co.uk where i have 3 forms on wpforms, i have installed the plugin and set up the sitekey and secret key, enabled the hcaptcha in wpforms, but still it just hangs with a spinning circle.

Thanks for any help . .

[2022-08-18 15:01] e271828- commented on #177
@Eastbourneshutters do you happen to have a test page? And are you using the built-in WPForms hCaptcha support? If so, you should contact WPForms directly.

[2022-08-18 23:13] pauldowlin commented on #169
I too have this same issue. Complete the captcha. Forget to fill in some required input box or checkbox. Fix that issue and hCaptcha throws invalid error when form is submitted again.

Only fix is to refresh the page.

[2022-08-18 23:26] e271828- commented on #169
@kagg-design do you have time to look at this?

[2022-08-19 16:17] kagg-design commented on #169
@e271828- sure, I will.

[2022-08-26 07:58] steffi-blackphoenix opened #178 "hCaptcha not showing up on Contact Form!"
Hello!

I wanted to know, why my hCaptcha on my contact site doesn’t work.
https://diekunstdeslebens.at/kontakt/
I want it under the contact form 7, I checked it on the backend, but still doesn’t work.
I made the steps that were in the docs, it doesn't really help.

Please help!

[2022-08-27 13:15] kagg-design opened #179 "Integration with AMP plugin"
Here is [the request](https://wordpress.org/support/topic/error-with-amp-plugin-wordpress/) on wp.org:

"Please take a look and make it compatible with the AMP official plugin".

[2022-08-27 13:37] kagg-design opened #180 "Integration with Really Simple SSL Pro"
Here is [the request](https://wordpress.org/support/topic/doesnt-work-with-really-simple-ssl-pro/) on wp.org:

"I maybe discovered a conflict between hCaptcha and the `Really Simple SSL PRO` plugin. The `Really Simple SSL` freemium works well.

So, after installing both plugins, and trying to log in, the hCaptcha plugin doesn’t load with the following error in the console: non-JS module files depr

[2022-08-27 19:26] kagg-design commented on #135
There is an issue with "Turn off when logged in" - thank you for noticing. I have fixed it in v1.18.0. We will publish it in August.

[2022-08-27 19:26] #135 closed

[2022-08-27 19:32] kagg-design commented on #155
Added in v1.17.0.

[2022-08-27 19:32] #155 closed

[2022-08-27 19:33] #162 closed

[2022-08-27 19:34] kagg-design commented on #169
Fixed in v1.18.0.

[2022-08-27 19:34] #169 closed

[2022-08-27 19:35] kagg-design commented on #165
Spam flag is raised by CF7 or other plugins like Akismet. It has no relation to hCaptcha.

[2022-08-27 19:35] #165 closed

[2022-08-27 19:37] kagg-design commented on #172
Closed as non-reproducible.

[2022-08-27 19:37] #172 closed

[2022-08-27 19:37] kagg-design commented on #176
Fixed in v1.18.0.

[2022-08-27 19:37] #176 closed

[2022-08-27 19:43] kagg-design commented on #178
Please try to deactivate all plugins except hCaptcha and CF7. First, one named Nitro. Also, please switch the theme to standard and let me know the result.

[2022-08-27 19:49] kagg-design commented on #170
Thank you, @MarkWest2017, for your investigations. Could you provide me access to the test site? Please send it to the email info@kagg.eu.

[2022-08-29 17:42] Mark-Jdr commented on #170
Hello.
I think I have exactly the same (or a similar) problem. I am using Elementor Pro.
I installed the hCAPTCHA plugin and checked the "Enable hCaptcha on Elementor Pro Form" checkbox.
After adding the Elementor Form widget to a page, the entire Elementor settings panel on the left side of the screen disappears. Exactly as in the attached picture and same as the last included screen from MarkWes

[2022-08-29 18:25] yeti2022 opened #184 "I need support for Kadence blocks"
Please, I would need support for Kadence Blocks forms to protect my contact form.

[2022-08-29 19:51] kagg-design commented on #170
@MarkWest2017 @Mark-Jdr Deactivate all Experiments in Elementor. Make sure there are no green lights to the left:

![image](https://user-images.githubusercontent.com/28291450/187286182-de24db0b-6e2b-4d76-a615-09f5c416edd2.png)

Here is the result on the test site after deactivation: [https://hcaptcha-dauntlessstudio-co-uk.dauntlessstudio.co.uk/hcaptcha-form-test-page/](https://hcaptcha-dauntlessst

[2022-08-29 19:51] #170 closed

[2022-08-29 20:00] kagg-design commented on #170
Exactly, the Additional Custom Breakpoints setting is the culprit:

![image](https://user-images.githubusercontent.com/28291450/187287394-5f38100c-9b7a-4f70-bdb8-5498bcb601bd.png)

Without it, having all other experiments active, hCaptcha works:

![image](https://user-images.githubusercontent.com/28291450/187287736-9555b113-7f59-4cce-9803-4eb7ff097398.png)

[2022-08-29 20:04] MarkWest2017 commented on #170
Hi Igor,
Good to identify the issue - but we use all six breakpoints on our projects.
So, how to resolve incompatibility?
Thanks very much
Mark

29 Aug 2022 21:01:07 Igor at KAGG Design ***@***.***>:

[2022-08-30 04:28] Mark-Jdr commented on #170
Disabling just one 'experiment' (Additional Custom Breakpoints) makes the Elementor settings of the Form having hCaptcha work again. Thank you for help. M.

[2022-08-30 08:01] kagg-design commented on #170
@MarkWest2017 @Mark-Jdr Thank you guys, and especially @MarkWest2017, for your help in identifying the issue! I have fixed it in v1.19.0, and I hope we can release it today, 30-Aug.

[2022-08-30 08:04] kagg-design commented on #162
@danypu, with the help of @MarkWest2017, I have reproduced and fixed the issue. v1.19.0 should be released today, 30-Aug.

[2022-08-30 08:06] kagg-design commented on #135
@coldxot @FriendlyGremlin @AKSpalva @skellenb @drangam, with the help of @MarkWest2017, I have reproduced and fixed the issue. v1.19.0 should be released today, 30-Aug.

[2022-08-30 19:04] zafai opened #186 "enable Pro Elements"
We are using the free version of elementor pro called pro elements.

Would be great if we could enable hcaptcha also for pro elements.
https://proelements.org/

Thank you

[2022-09-04 08:17] kagg-design opened #187 "Add MemberPress Login form support"
Now we support the Registration form in Member Press only.

[2022-09-15 23:56] timbutler opened #188 "Plugin name in ReadMe / WordPress.org Plugin Directory differs from installed Plugin name"
Not sure if there's a reason the names differ, but when you search for the plugin to install it's called "hCaptcha for WordPress" (ie, what's in the ReadMe).

After it's installed, this is now "hCaptcha for Forms and More", which doesn't quite seem the same. My preference is hCaptcha for WordPress as it covers significantly more than just forms.

I know this is only a minor thing, however would it

[2022-09-16 21:32] e271828- commented on #188
Not sure what impact changing it would have at this point, since that would also update the URI on wordpress.org. @kagg-design thoughts?

[2022-09-17 09:08] kagg-design commented on #188
@e271828- we cannot change slug on wp.org; https://wordpress.org/plugins/hcaptcha-for-forms-and-more/. It is a constant attribute of a plugin. To change it, we have to close the current plugin and publish it with a new slug, losing all subscribers.

As far as I can see, what @timbutler is talking about, is the name of the plugin on Plugins page:

![image](https://user-images.githubusercontent.com/

[2022-09-17 09:09] #188 closed

[2022-09-17 17:21] kagg-design commented on #174
It is not the refactoring at all :) - it required the complete rewrite of the settings related code. Done in v2.0.0.

[2022-09-17 17:21] #174 closed

[2022-09-20 16:18] waldemarker opened #190 "No Integration with Security Plugins"
Hi, hcaptcha is great, but it would be very useful if compatible with wordpress security plugins like Wordfence or Security Pro.

[2022-09-20 17:47] mancu89 opened #191 "how to set new data-h-captcha-id when using transition page plugin (swup.js)"
I am working to a project in Wordpress and I'm trying to add h-captcha control to a form that is inside the swup container (it is the element that change on the transition while the header and footer remain the same).
By inspecting the code a data-h-captcha-id attribute is set on the first load of the page, the issue starts when i leave and return to the page that contains the form as the data-h-c

[2022-09-20 21:08] e271828- commented on #190
@waldemarker what kind of integration would you like to see?

[2022-09-20 21:10] e271828- commented on #191
Do you have a demo page?

[2022-09-20 21:17] waldemarker commented on #190
you can use hcaptcha on woocommerce and when collecting data using a contact form, but you could use hcaptcha also when loggin in. Both security plugins use Google reCaptcha when logging in and it's very important (much more than the other uses).  As I'd like to use only 1 Captcha tool like hcaptcha I have the problem that both security plugins do not support that. For both plugins hCaptcha seems

[2022-09-23 09:15] Tiago-Rodrigs opened #192 "Add support for the job openings plugin wordpress"
Plugin: https://wordpress.org/plugins/wp-job-openings/

[2022-09-25 10:36] kagg-design commented on #177
Closed due to no response.

[2022-09-25 10:36] #177 closed

[2022-09-25 10:37] kagg-design commented on #178
Closed due to no response.

[2022-09-25 10:37] #178 closed

[2022-09-25 11:01] kagg-design commented on #190
Wordfence has the option to use reCaptcha. It is on the page `/wp-admin/admin.php?page=WFLS#top#settings`.

![image](https://user-images.githubusercontent.com/28291450/192140143-de908ccd-d8ed-4095-afb5-a72968fd8c46.png)

Deactivate it. Or, deactivate hCaptcha by clearing the checkbox "Enable hCaptcha on Login Form".

[2022-09-25 14:11] waldemarker commented on #190
thank you for the documentation. My goal is to leave google services and to switch to hcaptcha, so I would need hcaptcha in Wordfence or Security Pro instead of reCaptcha. Seems not possible at the moment and plugin authors are not interessed due to less security/compatibility with hcaptcha.

[2022-09-25 18:01] kagg-design commented on #190
I do not understand why you cannot just disable reCaptcha in Wordfence.

[2022-09-25 18:10] waldemarker commented on #190
yes, this is true. I can disable on both plugins reCaptcha. And I'd like to use/install hCaptcha for that (login). Wondering that I get no help to make hCaptcha more popular here.

[2022-09-25 18:15] kagg-design commented on #142
Support for wp-signup.php was added in v1.13.0, in September 2021. Support of multi-site added now, in v2.0.0, which will be released at the end of this month.

![image](https://user-images.githubusercontent.com/28291450/192158761-f495270c-91cf-48e7-9000-b67117843ffc.png)

[2022-09-25 18:15] #142 closed

[2022-09-25 18:21] kagg-design commented on #93
@apeman76 I have added the ability to set options network-wide on multisite:

![image](https://user-images.githubusercontent.com/28291450/192159003-799ca184-c44e-4959-a8a5-6aadbd205e8b.png)

@joostdekeijzer Now settings screens (one of them is above) are using WP Settings API.

[2022-09-25 18:32] kagg-design commented on #190
hCaptcha supports WordPress Login, Registration, Lost Password, Comment forms and many plugins: https://wordpress.org/plugins/hcaptcha-for-forms-and-more/#:~:text=FORMS%20AND%20PLUGINS%20SUPPORTED.

You should simply activate hCaptcha on these pages using the settings page.

[2022-09-25 18:32] #190 closed

[2022-09-26 07:46] joostdekeijzer commented on #93
Wow, great work @kagg-design

[2022-09-26 08:37] KrisB7 opened #193 "hCaptcha not working on my contact form 7"
The hCaptcha appears on my contact form, however it's saying the sitekey is incorrect. I have tried 2 new sitekeys, although it still does not work.

[2022-09-26 13:00] kagg-design commented on #93
Thank you, @joostdekeijzer, for the plugin. I have added the code to avoid the layout shift during hCaptcha loading.

[2022-09-26 13:00] #93 closed

[2022-09-27 09:54] EntremCoop opened #194 "Gravity forms not work with hCaptcha"
Hi,

Currently, I use hCaptcha on my WordPress website.
The thing is that I have a multi-page form made with Gravity Forms and when I fill in the data and click Next it keeps thinking.
If I use the browser inspector, the console gives me the following in the POST method: error "403".
It seems that the integration between hCaptcha WordPress plugin and Gravity Forms caused the issue.
The problem is

[2022-10-06 10:07] kagg-design opened #196 "Divi Supreme"
Add integration with DIVI Supreme: https://wordpress.org/support/topic/problem-with-contact-form-divi-supreme/.

[2022-10-22 10:00] kagg-design opened #197 "wpDiscuz support"
Original request: https://wordpress.org/support/topic/wpdiscuz-support/

[2022-10-23 13:57] kagg-design commented on #24
Added in v2.1.0.

[2022-10-23 13:57] #24 closed

[2022-10-23 13:59] kagg-design commented on #194
This functionality is added in v2.1.0 and will be published soon.

[2022-10-23 13:59] #194 closed

[2022-10-24 17:59] Guiver opened #199 "Didn't work : block hCaptcha on specific page"
Kaggdesign ask me to create an issue here (initially posted on wordpress plugin support  : https://wordpress.org/support/topic/filter-hcap_activate-didnt-work/#post-16129536 )

Sorry for my English.

I'm up to date (Wordpress 6.03)
My theme is OceanWP. I'm using Elementor (free) and polylang.
I haven't plugin for cache or security.
I'm actually on localhost (I follow the hcaptcha guide here : ( ht

[2022-10-24 18:47] kagg-design commented on #199
Thank you for creating the issue.

Are `hcap_activate` and `hcap_delay_api` filters in the same file? Could you publish this file somewhere?

Or, can you create a copy of your local test site with the Duplicator plugin (after deletion of all personal data) and share it with me via info@kagg.eu email? In this case, I will debug the issue locally.

[2022-10-28 07:26] Eisfluegel commented on #123
+1 from me as well

[2022-10-29 17:36] kagg-design commented on #193
Can you provide more info? A link to your website with the issue at least.

[2022-10-29 17:38] kagg-design commented on #79
The plugin is closed so we won't proceed with the request.

[2022-10-29 17:38] #79 closed

[2022-10-29 19:43] kagg-design commented on #123
@mn-martin @hcuk94 @Eisfluegel Could you share the Avada theme with me and send it to info@kagg.eu?

[2022-10-29 21:28] kagg-design commented on #157
Added in v2.1.0.

[2022-10-29 21:28] #157 closed

[2022-10-29 21:37] kagg-design commented on #191
Closed as non-reproducible.

[2022-10-29 21:37] #191 closed

[2022-10-30 16:52] kagg-design commented on #15
Added to v2.1.0.

[2022-10-30 16:52] #15 closed

[2022-10-30 23:51] kagg-design commented on #168
Added in v2.1.0.

[2022-10-30 23:51] #168 closed

[2022-10-31 09:02] Eisfluegel commented on #123
@kagg-design I sent you an email with the Avada files. Please check if you got it (maybe it will be in the spam folder).

[2022-10-31 09:08] kagg-design commented on #123
@Eisfluegel Thank you, well received. I will work on it soon.

[2022-11-02 18:24] ThomasKujawa opened #201 "Blank hcaptcha with CF7"
As you can see, there is an empty hcaptcha block on my page.

![2022-10-31_12-43-25](https://user-images.githubusercontent.com/2462747/199571440-29f5c64d-8fcb-4121-8bbb-4e925224582e.png)

The form cannot be submitted.

What could be the reason for this?

I have already adjusted the content security policy.

[2022-11-02 19:30] e271828- commented on #201
@ThomasKujawa do you have a demo URL? And which browser / ver? Only thing I can think of offhand is perhaps CSS on the parent site interfering, although that is very rare.

[2022-11-02 19:45] ThomasKujawa commented on #201
Please check our productive site https://www.fachkraeftesicherer.de/erstgespraech-betriebsberatung/

However, I had to disable hcaptcha.

[2022-11-03 08:57] ThomasKujawa commented on #201
@e271828-

Chrome - CSP supplemented with connect-src https://newassets.hcaptcha.com and script-src https://js.hcaptcha.com

[2022-11-03 11:47] e271828- commented on #201
@ThomasKujawa OK, looks like that box and logo are actually something you've created. This is what confused me originally. The JS SDK does not appear to be loaded at all, so it's going to be an issue at the WP plugin level. CC @kagg-design

[2022-11-05 07:33] Pixelharmonist opened #202 "hcaptcha is not defined // Elementor Form"
Hey There!

The newest issue ist a "hcaptcha is not defined" notice, if i use hcaptcha in Elementor (pro).

![image](https://user-images.githubusercontent.com/69324212/200108440-5695caa6-419a-45e9-9449-a1756c5e2d2d.png)

After submit it throw back to top of the page(s) without sending.

If i turn off the integration and insert the hcaptcha shortcode into a Elementor html-field, the form is sendabl

[2022-11-05 20:38] Pixelharmonist commented on #202
The Support says: "Try the Shortcode"
It was done bevor i wrote. The Shortcode let send the Form without checking the hcaptcha-box.

Anyone a idea for the script problem?

[2022-11-06 05:31] massimocoladarci commented on #202
Hi, I have the same issue.

[2022-11-06 16:55] massimocoladarci commented on #202
I reverted my plugin to 1.19.0 and it worked.

[2022-11-06 18:52] Pixelharmonist commented on #202
Grazie Massimo!

At first, i was happy for you and happy to read it...
I tryed it out, rerolled the version but the only change was "there is no error in console".
New: recaptchacompat disabled
![image](https://user-images.githubusercontent.com/69324212/200189396-4652ab82-92da-4af2-9883-f94baca6abd4.png)

How do you insert hCaptcha in your Form? Shortcode? Setting insert?
I tested it both, with no

[2022-11-08 04:13] massimocoladarci commented on #202
I'm sorry but i made a mistake, i still have the same issue...

[2022-11-10 14:38] albanmosnier opened #203 "Integration with Asgaros forum plugin"
I am using successfully hcaptcha for WP Login and ContactForm 7. But due to numerous malicious post oi new topics attempts in my Asgaros forum, it would be great if hcaptacha would be integrated with it

[2022-11-12 11:17] hansdampf110 commented on #202
Same here:
Added hCaptcha as plugin.
Added field *hCaptcha* in Elementor Form.
hCaptcha shows riddle but after check, form is not send and got throw back on top of page.
Also tried hCaptcha plugin 1.5.0.

Current setup:
WP 6.1
Elementor 3.8.0
Elementor Pro 3.8.1
hCaptcha 2.0.0

[2022-11-18 15:12] kagg-design commented on #202
@Pixelharmonist @massimocoladarci @hansdampf110 Thank you for the report. The problem is that in the latest versions, Elementor changed the sequence of JS hooks.

I have fixed it in v2.1.0. It will be published in a few days. Or, you can get it from the v2.1.0 branch.

[2022-11-18 15:12] #202 closed

[2022-11-18 17:44] kagg-design commented on #201
https://www.fachkraeftesicherer.de/hcaptcha-test/ does not exist anymore. I see that the hCaptcha plugin is deactivated.

Blank hCaptcha appears during page loads as a placeholder and should be replaced later by the actual Captcha widget. It may not be replaced if you have JS errors in the console. Such errors block the execution of JS completely.

I hope this helps.

If you want to know the reaso

[2022-11-18 17:45] kagg-design commented on #199
Closed as non-reproducible.

[2022-11-18 17:45] #199 closed

[2022-11-18 17:49] #193 closed

[2022-11-19 11:10] Pixelharmonist commented on #202
Hey @kagg-design!

It runs cleary! I appreciate you engagement!
Thanky you so much!!! 🤩🤩🤩🤩🤩

[2022-11-19 17:59] kagg-design commented on #123
@mn-martin @hcuk94 @Eisfluegel I have added Avada support in v2.2.0. It will be published soon. So far, you can use it from this commit 1a27c1ac3f6954f09818a18724568b117ba1d449 in v2.2.0 branch.

[2022-11-19 17:59] #123 closed

[2022-11-21 12:34] hansdampf110 commented on #202
It is working again. Thank you so much!

[2022-11-27 19:58] jhnpldng01 commented on #203
I second the motion. Asgaros has just enough features while wpForo has too many

[2022-11-29 21:07] moonzlo commented on #201
I caught exactly the same problem in Elementor and the essentials theme Version: 3.0.4, the form is in a pop-up window, when I call it, I get the following in the console:
`elementor-common {handle: 'elementor-common', src: 'https://asiacont.ru/wp-content/plugins/elementor/assets/css/common.min.css', deps: Array(1), ver: '3.8.1', args: 'all', …}
essentials.js:2068 elementor-post-3240 {handle: 'ele

[2022-11-29 23:42] e271828- commented on #201
@moonzlo could you put up a repro page that shows this somewhere?